<div class="container">
    <div class="top">
        <div class="head">
            <a [routerLink]="['/']">
                <img class="logo" src="./assets/img/logo-color.svg">
                <span class="title">ng-alain</span>
            </a>
        </div>
        <p class="desc">云计算最具影响力的:SaaS应用门户</p>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
        <ng-template #copyright>
            Copyright
            <nz-icon nzType="copyright"></nz-icon> 2018 <a href="//github.com/litaojian" target="_blank">广州阳光</a>出品
        </ng-template>
    </global-footer>
</div>