<div class="container">
    <div class="top">
        <div class="head">
            <a [routerLink]="['/']">
                <img class="logo" src="./assets/img/logo-color.svg">
                <span class="title">涉车应用门户</span>
            </a>
        </div>
        <p class="desc">警务云平台中最具影响力的: 涉车应用</p>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
        <ng-template #copyright>
            Copyright
            <nz-icon nzType="copyright"></nz-icon> 2018 <a href="https://github.com/litaojian/yg-console" target="_blank">广州阳光</a>出品
        </ng-template>
    </global-footer>
</div>