
 <!--点击弹出条件填写框-->
<!--<my-tab *ngIf="showSearchList" [typeName]="'searchMore'" [VehicleType]="'search'" (selectListBack)="getSearchList($event)"></my-tab>-->

<div class="content__title">
    <nz-card [nzBordered]="true" style="width:100%;">
            <standard-form-row [title]="'地市范围'" block style="padding-bottom: 11px">
                <div nz-form-item>
                    <div nz-form-control>
                        <tag-select>
                            <nz-checkable-tag *ngFor="let i of categories; let idx = index" [nzChecked]="i.value" (nzChange)="changeCategory($event, idx)">
                                {{i.text}}
                            </nz-checkable-tag>
                        </tag-select>
                    </div>
                </div>
            </standard-form-row>
            <standard-form-row [title]="'日期范围'" block style="padding-bottom: 11px">
                <div nz-row [nzGutter]="24">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                        <div nz-form-item>
                            <div nz-form-control>
                                <nz-rangepicker [(ngModel)]="_dateRange" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-rangepicker>
                                <a class="alink" href="javascript:void(0);" (click)="selectDay(1)">当天</a> 
                                <a class="alink" href="javascript:void(0);" (click)="selectDay(-1)">昨天</a> 
                                <a class="alink" href="javascript:void(0);" (click)="selectDay(3)">近3天</a> 
                                <a class="alink" href="javascript:void(0);" (click)="selectDay(7)">近7天</a> 
                                <a class="alink" href="javascript:void(0);" (click)="selectDay(5)">近15天</a> 
                                <a class="alink" href="javascript:void(0);" (click)="selectDay(30)">近30天</a>
                            </div>
                        </div>
                    </div>
                </div>
            </standard-form-row>
            <standard-form-row [title]="'筛选条件'" grid last>
                 <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="3" nzXl="2" class="pdr5">
                    <div nz-form-item>
                        <div nz-form-control>
                           <nz-select2 [dataSource]="ifhphm" [(ngModel)]="search.cxfs" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'是否无牌车'"></nz-select2>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="pdr5">
                    <div nz-form-item>
                       <div nz-form-control>
                            <nz-input nzType="search" (nzOnSearch)="vehicleSearchClick($event)" [(ngModel)]="search.hphm" [nzSize]="'default'" [nzPlaceHolder]="'车牌号码'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="pdr5">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-input nzType="search" (nzOnSearch)="vehicleSearchClick($event)" [nzSize]="'default'" [nzPlaceHolder]="'品牌'"></nz-input>
                        </div>
                        
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="4" class="pdr5">
                   <div nz-form-item class="d-flex" style="margin-bottom:0px">
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="newSearch.kkmc" [nzPlaceHolder]="'卡口名称'" name="kkmc" disabled title="{{newSearch.kkmc}}"></nz-input>
                            </div>
                            <choose-icon [cityUrl]="'analysis/api/data/xzqh/children/list'" [searchkkUrl]="'analysis/api/data/gate/list'" (kkouBack)="getKkou($event)" [fieldKey]="{text:'dmsm1',value:'dmz'}"></choose-icon>
                        </div>
                </div>
            </standard-form-row>
             <standard-form-row [title]="'分类标签'" block style="padding-top: 21px">
               <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                        <div nz-form-item>
                            <div nz-form-control>
                                <a class="alink" href="javascript:void(0);" (click)="carType('涉毒')">涉毒</a> 
                                <a class="alink" href="javascript:void(0);" (click)="carType('涉恐')">涉恐</a> 
                                <a class="alink" href="javascript:void(0);" (click)="carType('首次出现')">首次出现</a> 
                                <a class="alink" href="javascript:void(0);" (click)="carType('昼伏夜出')">昼伏夜出</a> 
                                <a class="alink" href="javascript:void(0);" (click)="carType('朝九晚五')">朝九晚五</a>
                                <a class="alink" href="javascript:void(0);" (click)="carType('重点人员')">重点人员</a>
                            </div>
                        </div>
                 </div>
            </standard-form-row>
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" style="text-align: right;">
                <button nz-button [nzType]="'primary'" (click)="searchList()"><span>查询</span></button>
            </div>
    </nz-card>
</div>
<nz-tabset [nzTabBarExtraTemplate]="tabBarExtraContent" [ngStyle]="{'margin-top':showSearchList === true ? '0px' : '130px' }">
            <nz-tab (nzClick)="showListTypes('list')">
                <ng-template #nzTabHeading>
                   <!--<i [ngClass]="'anticon anticon-exception'"></i>-->
                   列表展示
                </ng-template>
            </nz-tab>
            <nz-tab (nzClick)="showListTypes('photo')">
                <ng-template #nzTabHeading>
                  <!--<i [ngClass]="'anticon anticon-picture'"></i>-->
                  图表展示
                </ng-template>
            </nz-tab>
            <ng-template #tabBarExtraContent>
              <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="export(1)">导出</button>
            </ng-template>
</nz-tabset>
<nz-table #nzTable id="searchList" [nzPageSize]="pagination.pageSize" [nzPageIndex]="pagination.pageIndex" [nzAjaxData]="data" nzShowQuickJumper nzShowTotal [nzTotal]="datanums" (nzPageIndexChange)="indexChange($event)">
            <!--<ng-template #nzFixedHeader>-->
                <thead nz-thead *ngIf="showLp==true">
                <tr>
                    <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                    <th nz-th [nzWidth]="'100px'"><span>号牌种类</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>最后过车时间</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>最后经过地点</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>分类标签</span></th>
                    <!--<th nz-th [nzWidth]="'350px'"><span>卡口名称</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>行驶方向</span></th>
                    <th nz-th [nzWidth]="'100px'"><span>行驶速度</span></th>
                    <th nz-th [nzWidth]="'100px'"><span>车辆类型</span></th>-->
                    <th nz-th [nzWidth]="'50px'"><span>操作</span></th>
                </tr>
                </thead>
            <!--</ng-template>-->
            <tbody nz-tbody *ngIf="showLp==true">
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td>{{data.hphm}}</td>
                    <td nz-td>{{data.hpzlmc}}</td>
                    <td nz-td>{{data.gcsj}}</td>
                    <td nz-td></td>
                    <td nz-td>{{typeNames}}</td>
                    <!--<td nz-td title="{{data.kdmc}}">{{data.kdmc}}</td>
                    <td nz-td>{{data.xsfx}}</td>
                    <td nz-td>{{data.clsu}}</td>
                    <td nz-td>{{data.cllx}}</td>-->
                    <td nz-td id="caozuo">
                        <span (click)="carDetail(data,'peer')">同行车分析</span>
                        <span (click)="carDetail(data,'frequent')">频繁出入分析</span>
                        <span (click)="carDetail(data,'trackSearch')">详情</span>
                    </td>
               </tr>
            </tbody>
            <div nz-row [nzGutter]="24" class="showCarPhoto" *ngIf="showLp==false">
                    <div nz-col [nzSpan]="6" *ngFor="let item of data">
                        <img src="{{item.tp1}}" alt="" (error)="errorImg()" *ngIf="ifErrorImg==false" title="{{item.kkbh}}" (click)="carDetail(data)">
                        <img src="../../../../assets/img/error.jpg" alt=""  *ngIf="ifErrorImg==true" title="{{item.kkbh}}" (click)="carDetail(data)">
                        <dl>
                                <dt></dt>
                                <dd>{{item.hphm}}  {{item.hpzl}}</dd>
                                <dd>{{item.gcsj}}</dd>
                                <dd>{{typeNames}}</dd>
                            
                        </dl>
                    </div>
            </div>
</nz-table>
<my-loading *ngIf="loading"></my-loading>
<!--显示单个详情isModalShow_detailOne-->
<nz-modal [nzVisible]="isModalShow_detailOne" [nzTitle]="detailOneModalTitle" [nzContent]="detailOneModalContent" [nzFooter]="detailOneModalFooter" (nzOnCancel)="detailCancel($event,'detailOne')" [nzZIndex]="500" [nzWidth]="1000">
      <ng-template #detailOneModalTitle>
           <div class="myModal-title">
               <span>过车图片展示</span>
            </div>
      </ng-template>
      <ng-template #detailOneModalContent>
           <div>
         <div nz-row class="showCarDetailImg">
            <div nz-col [nzSpan]="8" style="text-align:center">
                <nz-popover>
                    <img src="{{dataOne.tp1}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false">
                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp1}}" alt="" *ngIf="ifErrorImg==false">
                        <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    </ng-template>
                </nz-popover>
            </div>
            <div nz-col [nzSpan]="8" style="text-align:center">
               <nz-popover>
                    <img src="{{dataOne.tp2}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false">
                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp2}}" alt="" *ngIf="ifErrorImg==false">
                        <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    </ng-template>
                </nz-popover>
            </div>
             <div nz-col [nzSpan]="8" style="text-align:center">
                 <nz-popover>
                    <img src="{{dataOne.tp3}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false">
                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp3}}" alt="" *ngIf="ifErrorImg==false">
                        <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    </ng-template>
                </nz-popover>
            </div>
        </div>
         <nz-collapseset>
              <nz-collapse [nzTitle]="'过车信息'" [nzActive]="true">
                 <p class="carMessage">
                    <span>号牌号码：</span>
                    <span class="carMessageSpan">{{dataOne.hphm}}</span>
                    <span>号牌种类：</span>
                    <span class="carMessageSpan">{{dataOne.hpzl}}</span>
                    <span>车辆类型：</span>
                    <span class="carMessageSpan">{{dataOne.cllx}}</span>
                </p>
                <p class="carMessage">
                    <span>过车时间：</span>
                    <span class="carMessageSpan">{{dataOne.gcsj}}</span>
                    <span>号牌颜色：</span>
                    <span class="carMessageSpan">{{dataOne.hpys}}</span>
                    <span>行驶速度：</span>
                    <span class="carMessageSpan">{{dataOne.clsu}}</span>              
                </p>
                <p class="carMessage">
                    <span>行驶方向：</span>
                    <span class="carMessageSpan">由东向西</span>
                    <span>设备信息：</span>
                    <span class="carMessageSpan">232323</span>
                    <span>车道信息：</span>
                    <span class="carMessageSpan">车道1</span>                 
                </p>
                <p class="carMessage">
                    <span>卡口名称：</span>
                    <span style="width:450px" class="carMessageSpan">{{dataOne.kkbh}}</span>
                    
                </p>
            </nz-collapse>
        </nz-collapseset>
         <nz-collapseset>
              <nz-collapse [nzTitle]="'机动车信息'">
                
                <p class="carMessage">
                    <span>号牌号码：</span>
                    <span class="carMessageSpan">{{dataOne.hphm}}</span>
                    <span>号牌种类：</span>
                    <span class="carMessageSpan">{{dataOne.hpzlmc}}</span>
                    <span>车辆类型：</span>
                    <span class="carMessageSpan">大型汽车</span>
                </p>
                <p class="carMessage">
                    <span>车辆型号：</span>
                    <span class="carMessageSpan">suv</span>
                    <span>车辆品牌：</span>
                    <span class="carMessageSpan">宝马</span>
                    <span>车身颜色：</span>
                    <span class="carMessageSpan">白色</span>
                </p>
                <p class="carMessage">
                    <span>联系电话：</span>
                    <span class="carMessageSpan">12345678901</span>
                </p>
                <p class="carMessage">
                    <span style="width:120px">机动车所有人：</span>
                    <span class="carMessageSpan">阳关耐特</span>
                </p>
                 <p class="carMessage">
                    <span>详细地址：</span>
                    <span style="width:500px" class="carMessageSpan">东风中路越秀桥路段</span> 
                </p>
                 
            </nz-collapse>
        </nz-collapseset>
      </div>
      </ng-template>
      <ng-template #detailOneModalFooter>
           <!--<div class="myModal-footer">
              <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="export(2)">导出</button>
           </div>-->
      </ng-template>
      
</nz-modal>
<!--导出数据isModalShow_export-->
<nz-modal [nzVisible]="isModalShow_export" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)" [nzZIndex]="100">
      <ng-template #modalTitle>
           <div class="myModal-title">
                <span>导出数据</span>
            </div>
      </ng-template>
      <ng-template #modalContent>
            <div class="myModal-content">
                <div nz-col [nzSpan]="24" class="mb-md">
                        <div nz-form-item class="d-flex" style="margin-bottom:0px">
                            <div nz-form-label><label for="dcnr">导出内容：</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-select2 [dataSource]="exportType" [(ngModel)]="putout.type" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'导出内容'"></nz-select2>
                            </div>
                        </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                        <div nz-form-item class="d-flex" style="margin-bottom:0px">
                            <div nz-form-label><label for="dcsl">导出数量：</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="putout.num" [nzPlaceHolder]="'导出数量'" name="num"></nz-input>
                            </div>
                        </div>
                    </div>
                <p>1.导出数据最多只能导出2000条； 2.导出图片</p>
        </div>
      </ng-template>
      <ng-template #modalFooter>
           <!--<div class="myModal-footer">
              <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="export(2)">导出</button>
           </div>-->
      </ng-template>
</nz-modal>
<!--轨迹查询isModalShow_detail-->
<nz-modal [nzVisible]="isModalShow_detail" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="detailCancel($event,'track')" [nzZIndex]="300" [nzWidth]="1000">
      <ng-template #modalTitle>
           <div class="myModal-title">
                <span>过车详情</span>
            </div>
      </ng-template>
      <ng-template #modalContent>
         <div class="myModal-content">
                <!--<div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="12" class="mb-md" *ngIf="isModalShow_frequent">
                                <div nz-form-item class="d-flex" style="margin-bottom:0px">
                                    <div nz-form-label><label for="kkname">次数大于：</label></div>
                                    <div nz-form-control class="flex-1">
                                        <nz-input [(ngModel)]="totalSearch.times" [nzPlaceHolder]="'次数大于'" name="times"></nz-input>
                                    </div>
                                    <span style="padding-left:5px;padding-right:5px;opacity:0">--</span>
                                    <div nz-form-control class="flex-1">
                                        <nz-select2 [dataSource]="peerTimes" [(ngModel)]="totalSearch.minutes" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'同行间隔时间'"></nz-select2>
                                                            
                                    </div>
                                     <button nz-button [nzType]="'primary'" (click)="detailSearch()" style="margin-left:10px">查询</button>
                                </div>
                        </div>
                </div>-->
                <nz-tabset>
                            <nz-tab (nzClick)="showListTypes('list')">
                                <ng-template #nzTabHeading>
                                <!--<i [ngClass]="'anticon anticon-exception'"></i>-->
                                列表展示
                                </ng-template>
                            </nz-tab>
                            <nz-tab (nzClick)="showListTypes('photo')">
                                <ng-template #nzTabHeading>
                                <!--<i [ngClass]="'anticon anticon-picture'"></i>-->
                                图表展示
                                </ng-template>
                            </nz-tab>
                </nz-tabset>
                <nz-table #nzTable id="searchList" [nzPageSize]="paginationDetail.pageSize" [nzPageIndex]="paginationDetail.pageIndex" [nzAjaxData]="dataDetailMore" nzShowQuickJumper nzShowTotal [nzTotal]="dataDetailnumsMore" (nzPageIndexChange)="detailIndexChange($event,'track')" [nzLoading]="myloading">
                            <thead nz-thead *ngIf="showLp==true">
                            <tr>
                                <th nz-th [nzWidth]="'50px'"><span></span></th>
                                <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                                <th nz-th [nzWidth]="'80px'"><span>号牌颜色</span></th>
                                <th nz-th [nzWidth]="'80px'"><span>号牌种类</span></th>
                                <th nz-th [nzWidth]="'250px'"><span>经过卡口</span></th>
                                <th nz-th [nzWidth]="'100px'"><span>行驶方向</span></th>
                                <th nz-th [nzWidth]="'100px'"><span>过车时间</span></th>
                                <th nz-th [nzWidth]="'100px'"><span>过车图片</span></th>
                            </tr>
                            </thead>
                        <tbody nz-tbody *ngIf="showLp==true">
                            <tr nz-tbody-tr *ngFor="let data of dataDetailMore">
                                <td nz-td>{{data.xh}}</td>
                                <td nz-td class="colorLink" (click)="showDetailOne(data)">{{data.hphm}}</td>
                                <td nz-td>{{data.hpysmc}}</td>
                                <td nz-td>{{data.hpzlmc}}</td>
                                <td nz-td title="{{data.kkmc}}">{{data.kkmc}}</td>
                                <td nz-td>{{data.fxmc}}</td>
                                <td nz-td>{{data.gcsj}}</td>
                                <td nz-td>
                                    <nz-popover>
                                        <img src="{{data.tplj}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false" class="smallImg" style="width:30px">
                                        <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true" class="smallImg" style="width:30px">
                                        <ng-template #nzTemplate>
                                            <img src="{{data.tplj}}" alt="" *ngIf="ifErrorImg==false">
                                            <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                        </ng-template>
                                    </nz-popover>
                                </td>
                        </tr>
                        </tbody>
                        <div nz-row [nzGutter]="24" class="showCarPhoto" *ngIf="showLp==false">
                                <div nz-col [nzSpan]="6" *ngFor="let item of dataDetail">
                                    <nz-popover>
                                    <img src="{{item.tplj}}" alt="" (error)="errorImg()" *ngIf="ifErrorImg==false" class="middleImg">
                                    <img src="../../../../assets/img/error.jpg" alt=""  *ngIf="ifErrorImg==true"  class="middleImg">
                                        <ng-template #nzTemplate>
                                            <img src="{{item.tplj}}" alt="" *ngIf="ifErrorImg==false">
                                            <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                        </ng-template>
                                    </nz-popover>
                                    <dl>
                                            <dd><span>号牌号码：</span><span class="colorLink" (click)="showDetailOne(item)">{{item.hphm}}</span></dd>
                                            <dd><span>号牌颜色：</span><span>{{item.hpysmc}}</span></dd>
                                            <dd><span>过车时间：</span><span>{{item.gcsj}}</span></dd>
                                            <dd><span>经过卡口：</span><span title="{{data.kkmc}}" class="overflowHide" style="width:154px">{{item.kkmc}}</span></dd>
                                            <dd><span>所属区域：</span><span>{{item.citymc}}</span></dd>
                                        
                                    </dl>
                                </div>
                        </div>
                </nz-table>
            </div>
      </ng-template>
      <ng-template #modalFooter>
           <div class="myModal-footer">
              <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="export(2)">导出</button>
           </div>
      </ng-template>
      <!--<my-loading *ngIf="myloading"></my-loading>-->
</nz-modal>

<!--同行车详情查询isModalShow_peerDetail-->
<nz-modal [nzVisible]="isModalShow_peerDetail" [nzTitle]="peerDetailModalTitle" [nzContent]="peerDetailModalContent" [nzFooter]="peerDetailModalFooter" (nzOnCancel)="detailCancel($event,'peerDetail')" [nzZIndex]="300" [nzWidth]="1300">
      <ng-template #peerDetailModalTitle>
           <div class="myModal-title">
                <span>关于{{carName}}同行车信息</span>
            </div>
      </ng-template>
      <ng-template #peerDetailModalContent>
         <div class="myModal-content">
          <nz-table #nzTable id="searchList" [nzPageSize]="paginationDetail.pageSize" [nzPageIndex]="paginationDetail.pageIndex" [nzAjaxData]="dataDetailMore" nzShowQuickJumper nzShowTotal [nzTotal]="dataDetailnumsMore" (nzPageIndexChange)="detailIndexChange($event,'peer')">
                    <thead nz-thead>
                    <tr>
                        <th nz-th [nzWidth]="'50px'">
                            <span> 
                               <label nz-checkbox [(ngModel)]="_checked" (ngModelChange)="ifAll($event)">
                                    <span>显示全部</span>
                              </label>
                            </span>
                        </th>
                        <th nz-th [nzWidth]="'100px'"><span>间隔时间</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>经过卡口</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>目标车辆号牌</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>目标车辆过车时间</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>目标车辆图片</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>同行车辆号牌</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>同行车辆过车时间</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>同行车辆图片</span></th>
                    </tr>
                    </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of dataDetailMore">
                        <td nz-td>{{data.xh}}</td>
                        <td nz-td>间隔{{totalSearch.minutes}}分钟同行</td>
                        <td nz-td>{{data.kkmc}}</td>
                        <td nz-td>{{totalSearch.hphm}}</td>
                        <td nz-td>{{data.mbgcsj}}</td>
                        <td nz-td>
                            <nz-popover>
                                <img src="{{data.mbtplj}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false" class="smallImg">
                                <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true" class="smallImg">
                                <ng-template #nzTemplate>
                                    <img src="{{data.mbtplj}}" alt="" *ngIf="ifErrorImg==false">
                                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                </ng-template>
                            </nz-popover>
                        </td>
                        <td nz-td>{{data.hphm}}</td>
                        <td nz-td>{{data.gcsj}}</td>
                        <td nz-td>
                            <nz-popover>
                                <img src="{{data.tplj}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false" class="smallImg">
                                <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true" class="smallImg">
                                <ng-template #nzTemplate>
                                    <img src="{{data.tplj}}" alt="" *ngIf="ifErrorImg==false">
                                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                </ng-template>
                            </nz-popover>
                        </td>
                </tr>
                </tbody>
          </nz-table>
      </div>
      </ng-template>
      <ng-template #peerDetailModalFooter>
      </ng-template>
      <!--<my-loading *ngIf="myloading"></my-loading>-->
</nz-modal>





<!--同行车查询isModalShow_peerDetail-->
<nz-modal [nzVisible]="isModalShow_peer" [nzTitle]="peerModalTitle" [nzContent]="peerModalContent" [nzFooter]="peerModalFooter" (nzOnCancel)="detailCancel($event,'peer')" [nzZIndex]="100" [nzWidth]="1000">
      <ng-template #peerModalTitle>
           <div class="myModal-title">
                <span>关于{{carName}}同行车信息</span>
            </div>
      </ng-template>
      <ng-template #peerModalContent>
         <div class="myModal-content">
             <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="12" class="mb-md">
                                <div nz-form-item class="d-flex" style="margin-bottom:0px">
                                    <div nz-form-label><label for="kkname">同行次数大于：</label></div>
                                    <div nz-form-control class="flex-1">
                                        <nz-input [(ngModel)]="totalSearch.times" [nzPlaceHolder]="'次数大于'" name="times"></nz-input>
                                    </div>
                                    <span style="padding-left:5px;padding-right:5px;opacity:0">--</span>
                                    <div nz-form-control class="flex-1">
                                        <nz-select2 [dataSource]="peerTimes" [(ngModel)]="totalSearch.minutes" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'同行间隔时间'"></nz-select2>
                                                            
                                    </div>
                                     <button nz-button [nzType]="'primary'" (click)="detailSearch()" style="margin-left:10px">查询</button>
                                </div>
                        </div>
                </div>
         <nz-table id="searchList" #nzTable [nzPageSize]="paginationDetail.pageSize" [nzPageIndex]="paginationDetail.pageIndex" nzShowQuickJumper nzShowTotal [nzAjaxData]="dataDetail" [nzTotal]="dataDetailnums" (nzPageIndexChange)="detailIndexChange($event)" [nzLoading]="myloading">
                    <thead nz-thead>
                        <tr>
                             <th nz-th [nzWidth]="'50px'"><span></span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌种类</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌颜色</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>违法信息</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>同行次数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>操作</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let peerFrequent of nzTable.data;let i=index">
                            <td nz-td>{{peerFrequent.xh}}</td>
                            <td nz-td>{{peerFrequent.hphm}}</td>
                            <td nz-td>{{peerFrequent.hpzlmc}}</td>
                            <td nz-td>{{peerFrequent.hpysmc}}</td>
                            <td nz-td>{{peerFrequent.ts}}</td>
                            <td nz-td>{{peerFrequent.cs}}</td>
                            <td nz-td class="colorLink" (click)="carDetail(peerFrequent,'peerDetail')">明细</td>
                        </tr>
                    </tbody>
      </nz-table>
      </div>
      </ng-template>
      <ng-template #peerModalFooter>
           <!--<div class="myModal-footer">
              <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="export(2)">导出</button>
           </div>-->
      </ng-template>
      <my-loading *ngIf="myloading"></my-loading>
</nz-modal>

<!--频繁车查询isModalShow_peerDetail-->
<nz-modal [nzVisible]="isModalShow_frequent" [nzTitle]="frequentModalTitle" [nzContent]="frequentModalContent" [nzFooter]="frequentModalFooter" (nzOnCancel)="detailCancel($event,'frequent')" [nzZIndex]="100" [nzWidth]="1000">
      <ng-template #frequentModalTitle>
           <div class="myModal-title">
                <span>关于{{carName}}频繁过车车信息</span>
            </div>
      </ng-template>
      <ng-template #frequentModalContent>
         <div class="myModal-content">
             <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="18" class="mb-md">
                            <div nz-form-item class="d-flex" style="margin-bottom:0px">
                                <div nz-form-label><label for="kkname">过车时段：</label></div>
                                <div nz-form-control class="flex-1">
                                   <nz-timepicker [(ngModel)]="totalSearch.fxkssj" [nzFormat]="'HH:mm'" [nzPlaceHolder]="'开始时间'"></nz-timepicker>
                                </div>
                                <div nz-form-control class="flex-1">
                                    <nz-timepicker [(ngModel)]="totalSearch.fxjssj" [nzFormat]="'HH:mm'" [nzPlaceHolder]="'结束时间'"></nz-timepicker>
                                </div>
                                <div nz-form-label style="margin-left:10px"><label for="kkname">天数大于：</label></div>
                                <div nz-form-control class="flex-1">
                                    <nz-input [(ngModel)]="totalSearch.cxcs" [nzPlaceHolder]="'天数大于'" name="cxcs"></nz-input>
                                </div>
                                <button nz-button [nzType]="'primary'" (click)="detailSearch()" style="margin-left:10px">查询</button>
                            </div>
                    </div>
            </div>
         <nz-table id="searchList" #nzTable [nzPageSize]="paginationDetail.pageSize" [nzPageIndex]="paginationDetail.pageIndex" nzShowQuickJumper nzShowTotal [nzAjaxData]="dataDetail" [nzTotal]="dataDetailnums" (nzPageIndexChange)="detailIndexChange($event)" [nzLoading]="myloading">
                    <thead nz-thead>
                        <tr>
                             <th nz-th [nzWidth]="'50px'"><span></span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌种类</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌颜色</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>卡口数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>天数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>次数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>操作</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let dataFrequent of nzTable.data;let i=index">
                            <td nz-td>{{dataFrequent.xh}}</td>
                            <td nz-td>{{dataFrequent.hphm}}</td>
                            <td nz-td>{{dataFrequent.hpzlmc}}</td>
                            <td nz-td>{{dataFrequent.hpysmc}}</td>
                            <td nz-td>{{dataFrequent.kks}}</td>
                            <td nz-td>{{dataFrequent.ts}}</td>
                            <td nz-td>{{dataFrequent.cs}}</td>
                            <td nz-td class="colorLink" (click)="carDetail(dataFrequent,'frequentDetail')">明细</td>
                        </tr>
                    </tbody>
      </nz-table>
      </div>
      </ng-template>
      <ng-template #frequentModalFooter>
      </ng-template>
      <my-loading *ngIf="myloading"></my-loading>
</nz-modal>