
<my-modal [isModal]="isModalShow" (initRows)=hasChange($event)>
      <div class="myModal-title">
          <span *ngIf="!numOne">过车查询</span>
          <span *ngIf="numOne">过车条件修改</span>
      </div>
      <div class="myModal-content">
          <div nz-row [nzGutter]="24">
               <div nz-col [nzSpan]="24" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label for="types">查询方式：</label></div>
                        <div nz-form-control class="flex-1">
                            <my-select2 *ngIf="!numOne" name="cxfs" [(ngModel)]="search.cxfs" [data]="searchType" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'查询方式'"></my-select2>
                            <my-select2 *ngIf="numOne" name="cxfs" [(ngModel)]="search2.cxfs" [data]="searchType" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'查询方式'"></my-select2>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                        <div nz-form-item class="d-flex" style="margin-bottom:0px">
                            <span id="mustTime">*</span>
                            <div nz-form-label><label for="dcnr">过车时间：</label></div>
                            <div nz-form-control class="flex-1">
                              <my-datepicker *ngIf="!numOne" name="kssj" [(ngModel)]="search.kssj" [options]="{format:'YYYY-MM-DD hh:mm:ss'}"></my-datepicker>
                              <my-datepicker *ngIf="numOne" name="kssj" [(ngModel)]="search2.kssj" [options]="{format:'YYYY-MM-DD hh:mm:ss'}"></my-datepicker>
                            </div>
                            <span style="padding-left:5px;padding-right:5px;">--</span>
                            <div nz-form-control class="flex-1">
                                <my-datepicker *ngIf="!numOne" name="jssj" [(ngModel)]="search.jssj" [options]="{format:'YYYY-MM-DD hh:mm:ss'}"></my-datepicker>
                                <my-datepicker *ngIf="numOne" name="jssj" [(ngModel)]="search2.jssj" [options]="{format:'YYYY-MM-DD hh:mm:ss'}"></my-datepicker>
                            </div>
                        </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                        <div nz-form-item class="d-flex" style="margin-bottom:0px">
                            <div nz-form-label><label for="kkname">号牌号码：</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input *ngIf="!numOne" [(ngModel)]="search.hphm" [nzPlaceHolder]="'号牌号码'" name="no" [nzDisabled]="search.cxfs==3?true:false"></nz-input>
                                <nz-input *ngIf="numOne" [(ngModel)]="search2.hphm" [nzPlaceHolder]="'号牌号码'" name="no"  [nzDisabled]="search.cxfs==3?true:false"></nz-input>
                            </div>
                            <span style="padding-left:5px;padding-right:5px;opacity:0">--</span>
                            <div nz-form-control class="flex-1">
                                <my-select2 *ngIf="!numOne" name="hpzl" [(ngModel)]="search.hpzl" url="/vehicle/api/dic/rest/data/hpzl" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'号牌种类'"></my-select2>
                                <my-select2 *ngIf="numOne" name="hpzl" [(ngModel)]="search2.hpzl" url="/vehicle/api/dic/rest/data/hpzl" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'号牌种类'"></my-select2>
                            </div>
                        </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                        <div nz-form-item class="d-flex" style="margin-bottom:0px">
                            <div nz-form-label><label for="citys">所属地市：</label></div>
                            <div nz-form-control class="flex-1">
                                <my-select2 *ngIf="!numOne" name="citys" (onChange)="seachCounty(search.citys)" [(ngModel)]="search.citys" url="/vehicle/api/dic/rest/data/citys" [fieldKey]="{text:'jdmc',value:'dwdm'}" [myPlaceHolder]="'所属地市'"></my-select2>
                                <my-select2 *ngIf="numOne" name="citys" (onChange)="seachCounty(search2.citys)" [(ngModel)]="search2.citys" url="/vehicle/api/dic/rest/data/citys" [fieldKey]="{text:'jdmc',value:'dwdm'}" [myPlaceHolder]="'所属地市'"></my-select2>
                            </div>
                            <span style="padding-left:5px;padding-right:5px;opacity:0">--</span>
                            <div nz-form-control class="flex-1">
                                <my-select2 *ngIf="!numOne" name="qx" [(ngModel)]="search.xian" (onChange)="seachKK(search.xian)" [data]="countyList" [fieldKey]="{text:'xzqhmc',value:'xzqhdm'}" [myPlaceHolder]="'所属区县'"></my-select2>
                                <my-select2 *ngIf="numOne" name="qx" [(ngModel)]="search2.xian" (onChange)="seachKK(search2.xian)" [data]="countyList" [fieldKey]="{text:'xzqhmc',value:'xzqhdm'}" [myPlaceHolder]="'所属区县'"></my-select2>
                            </div>
                        </div>
                </div>
                <div nz-col [nzSpan]="24" class="mb-md">
                        <div nz-form-item class="d-flex" style="margin-bottom:0px">
                            <div nz-form-label><label for="kkname">卡口名称：</label></div>
                            <div nz-form-control class="flex-1">
                                <my-select2 *ngIf="!numOne" name="kkbh" [(ngModel)]="search.kkbh" [data]="kkList" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'卡口名称'"></my-select2>
                                <my-select2 *ngIf="numOne" name="kkbh" [(ngModel)]="search2.kkbh" [data]="kkList" [fieldKey]="{text:'dmsm1',value:'dmz'}" [myPlaceHolder]="'卡口名称'"></my-select2>
                            </div>
                        </div>
                </div>
            </div>
      </div>
      <div class="myModal-footer">
           <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="24" class="mb-md">               
                    <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="onConcel()">取消</button>
                    <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="addMessage()" *ngIf="!numOne">添加</button>
                    <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="onSave()" *ngIf="numOne">确定</button>
                </div>
          </div>
      </div>
</my-modal>
<!--查询条件部分 *ngIf="!ifMoreSearch"-->
<div class="tab-pane-all">
    <my-panel [myTitle]="'过车条件选择'" [myClass]="'car'">
        <div class="panel-content">
              <div nz-row [nzGutter]="24" style="margin-top:14px">
                        <nz-card nz-col [nzSpan]="3" class="mb-md" *ngFor="let data of list;let i=index" style="cursor:pointer;margin-left: 12px;border-radius:5px;" (click)="carDetail(i)">
                            <ng-template #title>
                                <nz-tooltip [nzTitle]="data.kssj+'--'+data.jssj" [nzPlacement]="'top'">
                                    <p class="det ailName" nz-tooltip>过车查询信息{{i+1}}</p>
                                </nz-tooltip>
                            </ng-template>
                            <ng-template #extra>
                                <a (click)="delete(i)"><i class="anticon anticon-close-square"></i></a>
                            </ng-template>
                        </nz-card>
                        <nz-card nz-col [nzSpan]="3" class="mb-md" style="cursor:pointer;margin-left: 12px;border-radius:5px;"  (click)="carDetail()">
                            <ng-template #title>
                                <nz-tooltip [nzTitle]="'点击添加区域'" [nzPlacement]="'top'">
                                    <p class="detailName" nz-tooltip style="text-align:center"><i class="anticon anticon-plus"></i></p>
                                </nz-tooltip>
                            </ng-template>
                    </nz-card>
             </div>  
             <!--<div nz-row [nzGutter]="24" class="searchButton">
                  <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="searchList(1)">查询</button>
                  <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="putOutMask()">导出</button>
             </div>-->
        </div>
    </my-panel>
    <div nz-row [nzGutter]="24" id="showListType">
        <span [ngClass]="{'activeTab':tabColor == true}" (click)="showListTypes('list')">列表展示</span>
        <span [ngClass]="{'activeTab':tabColor == false}" (click)="showListTypes('photo')">图表展示</span>
        <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="putOutMask()">导出</button>
    </div>
 </div>
<nz-table #nzTable id="searchList" [nzPageSize]="pagination.rows" [nzPageIndex]="pagination.curPage" [nzAjaxData]="data" nzShowQuickJumper nzShowTotal [nzTotal]="datanums" (nzPageIndexChange)="indexChange($event)">
            <!--<ng-template #nzFixedHeader>-->
                <thead nz-thead *ngIf="showLp==true">
                <tr>
                    <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                    <th nz-th [nzWidth]="'100px'"><span>号牌种类</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>过车时间</span></th>
                    <th nz-th [nzWidth]="'350px'"><span>卡口名称</span></th>
                    <th nz-th [nzWidth]="'150px'"><span>行驶方向</span></th>
                    <th nz-th [nzWidth]="'100px'"><span>行驶速度</span></th>
                    <th nz-th [nzWidth]="'100px'"><span>车辆类型</span></th>
                    <th nz-th [nzWidth]="'50px'"><span>操作</span></th>
                </tr>
                </thead>
            <!--</ng-template>-->
            <tbody nz-tbody *ngIf="showLp==true">
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td>{{data.hphm}}</td>
                    <td nz-td>{{data.hpzl}}</td>
                    <td nz-td>{{data.gcsj}}</td>
                    <td nz-td title="{{data.kkbh}}">{{data.kkbh}}</td>
                    <td nz-td>{{data.xsfx}}</td>
                    <td nz-td>{{data.clsu}}</td>
                    <td nz-td>{{data.cllx}}</td>
                    <td nz-td style="color:#108ee9;cursor:pointer" (click)="carDetailMore(title, content,footer,800,data)">详情</td>
               </tr>
            </tbody>
            <div nz-row [nzGutter]="24" class="showCarPhoto" *ngIf="showLp==false">
                    <div nz-col [nzSpan]="6" *ngFor="let item of data">
                        <img src="{{item.tp1}}" alt="" (error)="errorImg()" *ngIf="ifErrorImg==false" title="{{item.kkbh}}" (click)="carDetailMore(title, content,footer,800,data)">
                        <img src="../../../../assets/img/error.jpg" alt=""  *ngIf="ifErrorImg==true" title="{{item.kkbh}}" (click)="carDetailMore(title, content,footer,800,data)">
                        <dl>
                                <dt></dt>
                                <dd>{{item.hphm}}  {{item.hpzl}}</dd>
                                <dd>{{item.gcsj}}</dd>
                            
                        </dl>
                    </div>
            </div>
</nz-table>
<!--列表数据显示部分 *ngIf="expandForm" [nzPageSize]="50"-->
<!--<my-table [Myurl]="'vehicle/api/data/rest/pass/getdata'" [ifUrl]="Url" (tableLists)="getTabelList($event)" [searchData]="searchtest">
            <div class="mytabel-body">
                <div class="nzAjaxData" *ngIf="showLp==true">
                <div nz-row [nzGutter]="24" id="tabel_thead">
                    <div nz-col [nzSpan]="4"><span>过车时间</span></div>
                    <div nz-col [nzSpan]="5"><span>卡口名称</span></div>
                    <div nz-col [nzSpan]="3"> <span>号牌号码</span> </div>
                    <div nz-col [nzSpan]="3"><span>号牌种类</span></div>
                    <div nz-col [nzSpan]="3"><span>行驶方向</span></div>
                    <div nz-col [nzSpan]="3"><span>行驶速度</span></div>
                    <div nz-col [nzSpan]="3"><span>车辆类型</span></div>
                </div>
                <div nz-row [nzGutter]="24" id="tabel_body" *ngFor="let data of data" (click)="carDetailMore(title, content, footer,800,data)">
                    <div nz-col [nzSpan]="4"><span>{{data.gcsj}}</span></div>
                    <div nz-col [nzSpan]="5"><span>{{data.kkbh}}</span></div>
                    <div nz-col [nzSpan]="3"><span>{{data.hphm}}</span> </div>
                    <div nz-col [nzSpan]="3"><span>{{data.hpzl}}</span></div>
                    <div nz-col [nzSpan]="3"><span>{{data.xsfx}}</span></div>
                    <div nz-col [nzSpan]="3"><span>{{data.clsu}}</span></div>
                    <div nz-col [nzSpan]="3"><span>{{data.cllx}}</span></div>
                </div>
                </div>
                <div nz-row [nzGutter]="24" class="showCarPhoto" *ngIf="showLp==false">
                    <div nz-col [nzSpan]="6" *ngFor="let item of data">
                        <img src="{{item.tp1}}" alt="" style="width:250px;height:120px;margin-left:5px">
                        <dl>
                                <dt></dt>
                                <dd>{{item.hphm}}  {{item.hpzlmc}}</dd>
                                <dd>{{item.gcsj}}</dd>
                            
                        </dl>
                    </div>
                </div>
            </div>
</my-table>-->
 <my-loading *ngIf="loading"></my-loading>
<!--显示详情-->
<nz-modal [nzContent]="modalContent">
    <ng-template #title>
      <span>过车图片展示</span>
    </ng-template>
    <ng-template #content>
      <div>
         <div nz-row class="showCarDetailImg">
            <div nz-col [nzSpan]="8" style="text-align:center">
                <nz-popover>
                    <img src="{{dataOne.tp1}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false">
                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp1}}" alt="" *ngIf="ifErrorImg==false">
                        <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    </ng-template>
                </nz-popover>
            </div>
            <div nz-col [nzSpan]="8" style="text-align:center">
               <nz-popover>
                    <img src="{{dataOne.tp2}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false">
                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp2}}" alt="" *ngIf="ifErrorImg==false">
                        <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    </ng-template>
                </nz-popover>
            </div>
             <div nz-col [nzSpan]="8" style="text-align:center">
                 <nz-popover>
                    <img src="{{dataOne.tp3}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false">
                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp3}}" alt="" *ngIf="ifErrorImg==false">
                        <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                    </ng-template>
                </nz-popover>
            </div>
        </div>
         <nz-collapseset>
              <nz-collapse [nzTitle]="'过车信息'" [nzActive]="true">
                 <p class="carMessage">
                    <span>号牌号码：</span>
                    <span class="carMessageSpan">{{dataOne.hphm}}</span>
                    <span>号牌种类：</span>
                    <span class="carMessageSpan">{{dataOne.hpzl}}</span>
                    <span>车辆类型：</span>
                    <span class="carMessageSpan">{{dataOne.cllx}}</span>
                </p>
                <p class="carMessage">
                    <span>过车时间：</span>
                    <span class="carMessageSpan">{{dataOne.gcsj}}</span>
                    <span>号牌颜色：</span>
                    <span class="carMessageSpan">{{dataOne.hpys}}</span>
                    <span>行驶速度：</span>
                    <span class="carMessageSpan">{{dataOne.clsu}}</span>              
                </p>
                <p class="carMessage">
                    <span>行驶方向：</span>
                    <span class="carMessageSpan">由东向西</span>
                    <span>设备信息：</span>
                    <span class="carMessageSpan">232323</span>
                    <span>车道信息：</span>
                    <span class="carMessageSpan">车道1</span>                 
                </p>
                <p class="carMessage">
                    <span>卡口名称：</span>
                    <span style="width:450px" class="carMessageSpan">{{dataOne.kkbh}}</span>
                    
                </p>
            </nz-collapse>
        </nz-collapseset>
         <nz-collapseset>
              <nz-collapse [nzTitle]="'机动车信息'">
                
                <p class="carMessage">
                    <span>号牌号码：</span>
                    <span class="carMessageSpan">{{dataOne.hphm}}</span>
                    <span>号牌种类：</span>
                    <span class="carMessageSpan">{{dataOne.hpzlmc}}</span>
                    <span>车辆类型：</span>
                    <span class="carMessageSpan">大型汽车</span>
                </p>
                <p class="carMessage">
                    <span>车辆型号：</span>
                    <span class="carMessageSpan">suv</span>
                    <span>车辆品牌：</span>
                    <span class="carMessageSpan">宝马</span>
                    <span>车身颜色：</span>
                    <span class="carMessageSpan">白色</span>
                </p>
                <p class="carMessage">
                    <span>联系电话：</span>
                    <span class="carMessageSpan">12345678901</span>
                </p>
                <p class="carMessage">
                    <span style="width:120px">机动车所有人：</span>
                    <span class="carMessageSpan">阳关耐特</span>
                </p>
                 <p class="carMessage">
                    <span>详细地址：</span>
                    <span style="width:500px" class="carMessageSpan">东风中路越秀桥路段</span> 
                </p>
                 
            </nz-collapse>
        </nz-collapseset>
      </div>
    </ng-template>
    <ng-template #footer>
      <div>
      </div>
    </ng-template>
</nz-modal>
<!--导出数据-->
<my-modal [isModal]="isModalShow_put">
      <div class="myModal-title">
          <span>导出数据</span>
      </div>
      <div class="myModal-content">
           <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex" style="margin-bottom:0px">
                    <div nz-form-label><label for="dcnr">导出内容：</label></div>
                    <div nz-form-control class="flex-1">
                          <my-select2 name="dcnr" [(ngModel)]="putout.dcnr" [data]="dcList" [fieldKey]="{text:'dmsm1',value:'dmz'}"></my-select2>
                    </div>
                </div>
         </div>
        <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex" style="margin-bottom:0px">
                    <div nz-form-label><label for="dcsl">导出数量：</label></div>
                    <div nz-form-control class="flex-1">
                         <nz-input [(ngModel)]="putout.num" [nzPlaceHolder]="'导出数量'" name="num"></nz-input>
                    </div>
                </div>
            </div>
        <p>1.导出数据最多只能导出2000条； 2.导出图片</p>
      </div>
       <div class="myModal-footer">
          <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'" (click)="putOut()">导出</button>
      </div>
</my-modal>