<style>
    .panel {
        margin-top: 15px
    }
    
    .panel-body {
        padding: 10px;
    }
    
    .panel-heading {
        height: 45px;
    }
    
    .input-group-btn {
        display: table-cell;
        padding: 3px;
    }
    
    .disable {
        display: inline-block;
    }
    
    .search {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
    }
    
    .form-input {
        display: inline-block;
        width: 60%;
        height: 34px;
    }
    
    .pull-right {
        margin-top: -7px;
    }
    
    .text-left {
        padding: 0px 2px;
    }
    
    label {
        margin-bottom: 0px;
    }
</style>

<panel-header title="菜单管理" module="admin"></panel-header>
<!--<panel-toolbar></panel-toolbar>-->

<div class="col-md-12">
    <div class="row page-content with-menu">
        <div class="col-md-3 col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <strong><i class="icon-building"></i> 菜单导航</strong>
                </div>
                <div class="panel-body">
                    <!--部门结构列表-->
                    <div class="panel-body">
                        <div class="treeMenuBox1">
                            <!--<ul id="orgTree" class="tree tree-lines tree-chevrons">
                            </ul>-->
                            <!--<my-tree tree-id="deptTree1" data-source="/api/data/tree/deptTree" (nodeClick)="onTreeNodeClick($event)" class="tree"></my-tree>-->
                            <zx-tree tree-id="menuTree2" data-source="/api/data/tree/menuTree?url=void(0)" (nodeClick)="onTreeNodeClick($event)" has-checkbox="false" key-title="name" key-id="nodeId" key-pid="parentId" class="tree"></zx-tree>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="clearfix">
                <div class="panel">
                    <div class="panel-heading ">
                        <div class="pull-left ">
                            <strong>
                                <i class="icon-group "></i> 菜单列表
                            </strong>
                        </div>
                        <div class="pull-right ">
                            <form id="queryForm" #queryForm class="form-class wd380 ">
                                <input type="hidden" value="queryMenusByParentId" name="filter" />
                                <div class="input-group-btn ">
                                    <input type="text " class="form-control form-input wd50 " placeholder="请输入菜单名 " name="menuname " [(ngModel)]="queryForm.menuname ">
                                    <span><button type="submit " class="search btn btn-primary " data-toggle="modal " (click)="onQuery() ">搜索</button></span>
                                    <span><a href="javascript:;" (click)="onAddNew({'remarks':'','parentId':'${parentId}'})" class="btn btn-primary ">添加菜单</a></span>
                                </div>
                            </form>

                        </div>
                    </div>

                    <my-table class="my-table" title="菜单列表 " (goPageEvent)="onPageLinkClick($event)" [totalCount]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex">
                        <thead>
                            <tr class="text-center ">
                                <th class="wd60">
                                    <a href="javascript:; ">ID</a>
                                </th>
                                <th class="wd110">
                                    <a href="javascript:; ">菜单名</a>
                                </th>
                                <th class="wd180">
                                    <a href="javascript:; ">菜单URL</a>
                                </th>
                                <th class="wd80">
                                    <a href="javascript:; ">图标名</a>
                                </th>
                                <th class="wd60">
                                    <a href="javascript:; ">类型</a>
                                </th>
                                <th class="wd160 ">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rowItem of tableData " class="text-center ">
                                <td>{{rowItem.menuid}}</td>
                                <td>{{rowItem.menuname}}</td>
                                <td class="text-left">{{rowItem.menuurl}} </td>
                                <td>{{rowItem.menuicon}} </td>
                                <td>
                                    {{rowItem.menutype}}
                                </td>
                                <td class="text-left">
                                    <!--a href="javascript:; " (click)="onViewRow(user) ">查看</a>-->
                                    <a *ngIf="rowItem.menuid" href="javascript:; " (click)="onEditRow(rowItem)">编辑</a>
                                    <a *ngIf="rowItem.menuid" href="javascript:; " (click)="onDeleteRow(rowItem) ">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </my-table>
                </div>
            </div>
        </div>
    </div>
</div>