<style>
    .panel {
        margin-top: 15px
    }
    
    .panel-body {
        padding: 10px;
    }
    
    .panel-heading {
        height: 45px;
    }
    
    .btn-xs {
        padding: 1px 5px;
    }
    
    .userlists .text-center {
        text-align: center;
    }
    
    .headerSortUp {
        color: #2973EA;
    }
    
    .userlists .header a {
        color: #707070;
    }
    
    .my-label {
        display: inline;
        padding: .2em .6em .2em;
        font-size: 75%;
        /*color: #fff;*/
    }
    
    .Enabled {
        background-color: #229f24;
        text-align: center;
        width: 60%;
    }
    
    .Lock {
        background-color: dimgray;
        text-align: center;
        width: 60%;
    }
    
    .input-group-btn {
        display: table-cell;
        padding: 3px;
    }
    
    .disable {
        display: inline-block;
    }
    
    .search {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
    }
    
    .form-input {
        display: inline-block;
        width: 60%;
        height: 34px;
    }
    
    .pull-right {
        margin-top: -7px;
    }
    
    .my-table th,
    .my-table tr td {
        vertical-align: middle;
        padding: 8px;
    }
    
    .my-table tr td {
        /*line-height: .8;*/
        padding: 12px 0;
        /*text-align: center;*/
    }
    
    label {
        margin-bottom: 0px;
    }
    
    .text-left {
        padding: 2px;
        text-align: left;
    }
    
    .text-left a {
        padding: 0px 2px;
    }
    
    .w-380px {
        width: 380px;
    }
</style>


<div class="col-md-12">
    <div class="row page-content with-menu">
        <div class="col-md-3 col-sm-3">
            <div class="panel">
                <div class="panel-heading">
                    <strong><i class="icon-building"></i> 部门架构</strong>
                </div>
                <div class="panel-body">
                    <!--部门结构列表-->
                    <div class="panel-body">
                        <div class="treeMenuBox1">
                            <!--<ul id="orgTree" class="tree tree-lines tree-chevrons">
                            </ul>-->
                            <!--<my-tree tree-id="deptTree1" data-source="/api/data/tree/deptTree" (nodeClick)="onTreeNodeClick($event)" class="tree"></my-tree>-->
                            <zx-tree tree-id="deptTree2" data-source="/api/data/tree/orgTree?url=void(0)" (nodeClick)="onTreeNodeClick($event)" has-checkbox="false" key-title="name" key-id="code" key-pid="parentId" class="tree"></zx-tree>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="clearfix">
                <div class="panel">
                    <div class="panel-heading ">
                        <div class="pull-left ">
                            <strong>
                                <i class="icon-group "></i> 成员列表
                            </strong>
                        </div>
                        <div class="pull-right ">
                            <form id="queryForm" #queryForm class="form-class w-380px ">
                                <input type="hidden" value="queryUsersByOrgCode" name="filter" />
                                <div class="input-group-btn ">
                                    <input type="text " class="form-control form-input w-50px " placeholder="请输入用户名 " name="username " [(ngModel)]="queryForm.username ">
                                    <span><button type="submit " class="search btn btn-primary " data-toggle="modal " (click)="onQuery() ">搜索</button></span>
                                    <span><a href="javascript:;" (click)="onAddNew({'remarks':'aa','orgcode':'${parentId}','status':'Enabled'})" class="btn btn-primary ">添加用户</a></span>
                                </div>
                            </form>

                        </div>
                    </div>

                    <my-table class="my-table" title="用户列表 " (goPageEvent)="onPageLinkClick($event)" [totalCount]="totalCount" [pageSize]="pageSize" [pageIndex]="pageIndex">
                        <thead>
                            <tr class="text-center ">
                                <th class="w-60px ">
                                    <div class="headerSortUp ">
                                        <a href="javascript:; ">编号</a>
                                    </div>
                                </th>
                                <th class="w-110px ">
                                    <div class="header ">
                                        <a href="javascript:; ">登录账号</a>
                                    </div>
                                </th>
                                <th class="w-100px ">
                                    <div class="header "><a href="javascript:; ">用户名</a>
                                    </div>
                                </th>
                                <th class="w-70px ">
                                    <div class="header "><a href="javascript:; ">性别</a>
                                    </div>
                                </th>
                                <th class="w-180px ">
                                    <div class="header "><a href="javascript:; ">部门</a>
                                    </div>
                                </th>
                                <th class="w-110px ">
                                    <div class="header "><a href="javascript:; ">角色</a>
                                    </div>
                                </th>
                                <th class="w-60px ">
                                    <div class="header ">
                                        <a href="javascript:; ">状态</a>
                                    </div>
                                </th>
                                <th class="w-160px ">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of tableData " class="text-center ">
                                <td>{{user.userid}}</td>
                                <td>{{user.loginid}}</td>
                                <td>{{user.username}}</td>
                                <td>
                                    <span *ngIf="user.sex == '1'">男</span>
                                    <span *ngIf="user.sex == '2'">女</span>
                                </td>
                                <td>
                                    <my-label data-source="table/Department" [value]='user.glbm'></my-label>
                                </td>
                                <td>
                                    <my-label data-source="table/Role" [value]='user.roles'></my-label>
                                </td>
                                <!--<td><label class="label label-sucess ">{{user.state}}-->
                                <td>
                                    <!--<my-label class="my-label" [class]="user.status === 'Enabled'?'Enabled':'Lock'" data-source="userStatus" [value]='user.status'></my-label>-->
                                    <label *ngIf="user.status == 'Disabled'">无效</label>
                                    <label *ngIf="user.status == 'Enabled'">正常</label>
                                    <label *ngIf="user.status == 'null'">无效</label>
                                </td>
                                <td class="text-left">
                                    <!--a href="javascript:; " (click)="onViewRow(user) ">查看</a>-->
                                    <a *ngIf="user.status" href="javascript:; " (click)="onEditRow(user)">编辑</a>
                                    <a *ngIf="user.status" href="javascript:; " (click)="onDeleteRow(user) ">删除</a>
                                    <a *ngIf="user.status == 'Enabled'" href="javascript:; " (click)="onActionCmdClick('changeStatus', {'userId':user.userid,'userStatus':'Disabled'})">
                                        禁用
                                    </a>
                                    <a *ngIf="user.status != null && user.status != 'Enabled'" href="javascript:; " (click)="onActionCmdClick('changeStatus', {'userId':user.userid,'userStatus':'Enabled'})">
                                        启用
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </my-table>
                </div>
            </div>
        </div>
    </div>
</div>