<style>
    .page-container {
        margin-top: 58px;
        padding: 5px;
    }
    
    .table>thead>tr>th {
        width: auto;
    }
    
    .control-label {
        text-align: right;
        padding: 5px;
        line-height: 22px;
    }
    
    .required {
        *line-height: 24px;
    }
</style>


<panel-header title="用户管理"></panel-header>
<panel-toolbar></panel-toolbar>

<div class="page-content with-menu">
    <div class="page-container">
        <div class="row pdt10">
            <div class="col-sm-12">
                <form *ngIf="formData" #f="ngForm">
                    <fieldset>
                        <legend>基本信息</legend>
                        <div class="row form-group mg5">
                            <label class="col-sm-2 control-label required" for="username">用户姓名</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="string" name="username" [(ngModel)]="formData['username']" />
                            </div>
                            <label class="col-sm-2 control-label required" for="orgCode">所属部门</label>
                            <div class="col-sm-4">
                                <my-tree-select class="form-control box" type="text" placeholder="请选择所属部门" name="orgCode" [(ngModel)]="formData['orgcode']" tree-id="orgTree1" key-title="name" key-pid="parentId" key-id="code" data-source="/api/data/tree/orgTree?url=void(0)">
                                </my-tree-select>
                            </div>
                        </div>
                        <div class="row form-group mg5">
                            <label class="col-sm-2 control-label required" for="loginId">登录帐号</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="loginId" [(ngModel)]="formData['loginid']" />                                
                            </div>
                            <label class="col-sm-2 control-label required" for="password">密码</label>
                            <div class="col-sm-4">
                                <input class="form-control " type="password" name="password" [(ngModel)]="formData['password']" />
                            </div>
                        </div>
                        <div class="row form-group mg5">
                            <label class="col-sm-2 control-label required">状态</label>
                            <div class="col-sm-4">
                                <my-select class="form-control" name="status" [(ngModel)]="formData['status']" ngDefaultControl data-source="userStatus" placeholder="状态"></my-select>
                            </div>
                            <label class="col-sm-2 control-label">职称</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="jobTitle" [(ngModel)]="formData['jobtitle']" />
                            </div>
                        </div>

                    </fieldset>
                    <fieldset>
                        <legend>联络信息</legend>
                        <div class="row form-group mg5">
                            <label class="col-sm-2 control-label" for="mobile">手机</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="int" name="mobile" [(ngModel)]="formData['mobile']" placeholder="" required/>
                            </div>
                            <label class="col-sm-2 control-label" for="email">电邮</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="email" [(ngModel)]="formData['email']" placeholder="" required/>
                            </div>
                        </div>
                        <div class="row form-group mg5">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" type="text" name="remark" [(ngModel)]="formData['remark']" placeholder=""></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-default" *ngIf="!isReadOnly" (click)="onSubmitBtnClick()">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-default" *ngIf="!isDialog" (click)="goBack()">返回</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>