<style>
    .alink {
        margin: 2px 8px;
    }
</style>

<div class="content__title">
    <nz-card [nzBordered]="true" style="width:100%;">
        <form nz-form [nzLayout]="'inline'">
            <standard-form-row [title]="'区域范围'" block style="padding-bottom: 11px">
                <div nz-form-item>
                    <div nz-form-control>
                        <tag-select>
                            <nz-checkable-tag *ngFor="let i of categories; let idx = index" [nzChecked]="i.value" (nzChange)="changeCategory($event, idx)">
                                {{i.text}}
                            </nz-checkable-tag>
                        </tag-select>
                    </div>
                </div>
            </standard-form-row>
            <standard-form-row [title]="'日期范围'" block style="padding-bottom: 11px">
                <div nz-row [nzGutter]="24">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                        <div nz-form-item>
                            <div nz-form-control>
                                <nz-rangepicker></nz-rangepicker>
                                <a class="alink" href="javascript:void(0);">当天</a> <a class="alink" href="javascript:void(0);">昨天</a> <a class="alink" href="javascript:void(0);">近3天</a> <a class="alink" href="javascript:void(0);">近7天</a> <a class="alink"
                                    href="javascript:void(0);">近15天</a> <a class="alink" href="javascript:void(0);">近30天</a>
                            </div>
                        </div>
                    </div>
                </div>
            </standard-form-row>
            <standard-form-row [title]="'筛选条件'" grid last>
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="4">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-select name="license" [nzPlaceHolder]="'是否无牌车'" [nzShowSearch]="true" [nzSize]="'large'" style="width: 200px;">
                                <nz-option [nzLabel]="'有牌'" [nzValue]="'good'"></nz-option>
                                <nz-option [nzLabel]="'无牌'" [nzValue]="'bad'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="4">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-select name="license" [nzPlaceHolder]="'车牌号码'" [nzShowSearch]="true" [nzSize]="'large'" style="width: 200px;">
                                <nz-option [nzLabel]="'湘'" [nzValue]="'1'"></nz-option>
                                <nz-option [nzLabel]="'粤'" [nzValue]="'2'"></nz-option>
                                <nz-option [nzLabel]="'桂'" [nzValue]="'3'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="4">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-select name="rate" [nzPlaceHolder]="'号牌种类'" [nzShowSearch]="true" [nzSize]="'large'" style="width: 200px;">
                                <nz-option [nzLabel]="'小型车'" [nzValue]="'1'"></nz-option>
                                <nz-option [nzLabel]="'大型车'" [nzValue]="'2'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="4">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-select name="rate" [nzPlaceHolder]="'车身颜色'" [nzShowSearch]="true" [nzSize]="'large'" style="width: 200px;">
                                <nz-option [nzLabel]="'黄色'" [nzValue]="'1'"></nz-option>
                                <nz-option [nzLabel]="'黑色'" [nzValue]="'2'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </standard-form-row>
        </form>
    </nz-card>
</div>
<nz-list [nzLoading]="loading" [nzDataSource]="list" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
    <ng-template #item let-item>
        <nz-list-item>
            <nz-card nzHoverable>
                <ng-template #cover><img alt="{{item.vehicle}}" src="{{'elastic/image/demo/' + item.picture}}" style="height:180px"></ng-template>
                <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
                    <ng-template #nzTitle><a>{{item.vehicle}}</a></ng-template>
                    <ng-template #nzDescription>
                        <p>途经区域:{{item.location_count}}</p>
                        <p>被抓拍次数:{{item.doc_count}}</p>
                        <p>分类标签: {{item.labels}}</p>
                    </ng-template>
                </nz-card-meta>
                <div class="card-item-content">
                    <span class="text-grey">{{item.lastPassTime | date: 'yyyy-M-d HH:mm'}}</span>
                </div>
            </nz-card>
        </nz-list-item>
    </ng-template>
</nz-list>