<style>
    .link {
        padding: 0 4px;
    }
    
    .overflow {
        width: 300px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<nz-card [nzBordered]="false">
    <ng-template #body>
        <form id="queryForm" zx-formInput [formData]="queryForm" nz-form #f="ngForm" (ngSubmit)="onQueryFormSubmit(f)" [nzLayout]="'inline'">
            <input type="hidden" value="${request.filter}$" data-default="queryListByUser" name="filter" />
            <input type="hidden" value="${request.plans}$" name="plans" />
            <input type="hidden" value="${request.projectId}$" name="projectId" />
            <input type="hidden" value="${request.status}$" name="status" />
            <input type="hidden" value="5" name="pageSize" />
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="6" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label for="beginDate">开始日期</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-datepicker name="beginDate" [(ngModel)]="queryForm['beginDate']" data-value="${request.beginDate}$" id="beginDate" [nzSize]="'large'" [nzPlaceHolder]="'开始日期'" class="d-block"></nz-datepicker>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="6" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label for="endDate">结束日期</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-datepicker name="endDate" [(ngModel)]="queryForm['endDate']" data-value="${request.endDate}$" id="endDate" [nzSize]="'large'" [nzPlaceHolder]="'结束日期'" class="d-block"></nz-datepicker>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="4" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label for="">姓名</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-input [(ngModel)]="queryForm['assignedto']" name="assignedto" data-value="${request.user}$" [nzSize]="'large'" [nzPlaceHolder]="'姓名'" nzId="assignedto"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="expandForm ? 24 : 6" class="mb-md" [class.text-right]="expandForm">
                    <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'" id="queryBtn">查询</button>
                    <a (click)="expandForm=!expandForm">
	                    {{expandForm ? '收起' : '展开'}}
	                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
	                </a>
                </div>
            </div>
        </form>
        <div class="mb-md">
        </div>
        <nz-table #nzTable [nzAjaxData]="tableData" nzShowTotal="true" [nzTotal]="totalCount" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzLoading]="loading" (nzPageIndexChange)="onPageLinkClick($event)" [nzBordered]="true">
            <thead nz-thead>
                <tr>
                    <th nz-th class="wd50">编号</th>
                    <th nz-th class="wd80">负责人</th>
                    <th nz-th class="">需求简述</th>
                    <th nz-th class="">状态</th>
                    <th nz-th class="">阶段</th>
                    <th nz-th class="">登记日期</th>
                    <th nz-th>操作</th>
                </tr>

            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let row of nzTable.data">
                    <td nz-td class="center">{{row.storyid}}</td>
                    <td nz-td class="left">{{row.username}}</td>
                    <td nz-td class="left">
                        <div *ngIf="row.title" class="wd200 overflow" [title]="row.title">{{row.title}}</div>
                    </td>
                    <td nz-td class="left">{{row.statusname}}</td>
                    <td nz-td class="left">{{row.stage}}</td>
                    <td nz-td class="left">{{row.openeddate | date:'yyyy-MM-dd'}}</td>
                    <td nz-td class="left"> <span>&nbsp;</span></td>
                </tr>
            </tbody>
        </nz-table>
    </ng-template>
</nz-card>