<style>
    .alink {
        margin: 2px 8px;
    }
    
    .pdr5 {
        padding-right: 5px;
    }
</style>

<div class="content__title">
    <nz-card [nzBordered]="true" style="width:100%;">
        <form nz-form [nzLayout]="'inline'">
            <standard-form-row [title]="'地市范围'" block style="padding-bottom: 11px">
                <div nz-form-item>
                    <div nz-form-control>
                        <tag-select>
                            <nz-checkable-tag *ngFor="let i of categories; let idx = index" [nzChecked]="i.value" (nzChange)="changeCategory($event, idx)">
                                {{i.text}}
                            </nz-checkable-tag>
                        </tag-select>
                    </div>
                </div>
            </standard-form-row>
            <standard-form-row [title]="'日期范围'" block style="padding-bottom: 11px">
                <div nz-row [nzGutter]="24">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                        <div nz-form-item>
                            <div nz-form-control>
                                <nz-rangepicker></nz-rangepicker>
                                <a class="alink" href="javascript:void(0);">当天</a> <a class="alink" href="javascript:void(0);">昨天</a> <a class="alink" href="javascript:void(0);">近3天</a> <a class="alink" href="javascript:void(0);">近7天</a> <a class="alink"
                                    href="javascript:void(0);">近15天</a> <a class="alink" href="javascript:void(0);">近30天</a>
                            </div>
                        </div>
                    </div>
                </div>
            </standard-form-row>
            <standard-form-row [title]="'筛选条件'" grid last>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="3" nzXl="2" class="pdr5">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-select name="hasLicense" [nzPlaceHolder]="'是否无牌车'" [nzShowSearch]="true" [nzSize]="'large'">
                                <nz-option [nzLabel]="'有牌'" [nzValue]="'good'"></nz-option>
                                <nz-option [nzLabel]="'无牌'" [nzValue]="'bad'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="pdr5">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-input nzType="search" (nzOnSearch)="vehicleSearchClick($event)" [nzSize]="'large'" [nzPlaceHolder]="'车牌号码'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4" class="pdr5">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-input nzType="search" (nzOnSearch)="vehicleSearchClick($event)" [nzSize]="'large'" [nzPlaceHolder]="'品牌'"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="4" class="pdr5">
                    <div nz-form-item>
                        <div nz-form-control>
                            <nz-select name="region" [nzShowSearch]="true" [nzSize]="'large'" [nzPlaceHolder]="'途经区域'">
                                <nz-option [nzLabel]="'火车站'" [nzValue]="'1'"></nz-option>
                                <nz-option [nzLabel]="'汽车站'" [nzValue]="'2'"></nz-option>
                                <nz-option [nzLabel]="'市民广场'" [nzValue]="'3'"></nz-option>
                                <nz-option [nzLabel]="'步行街'" [nzValue]="'3'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>
            </standard-form-row>
            <standard-form-row [title]="'分类标签'" block style="padding-bottom: 11px">
                <div nz-row [nzGutter]="24">
                    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                        <div nz-form-item>
                            <div nz-form-control>
                                <a class="alink" href="javascript:void(0);">涉毒</a> <a class="alink" href="javascript:void(0);">涉恐</a> <a class="alink" href="javascript:void(0);">近3天</a> <a class="alink" href="javascript:void(0);">近7天</a> <a class="alink"
                                    href="javascript:void(0);">首次出现</a> <a class="alink" href="javascript:void(0);">昼伏夜出</a> <a class="alink" href="javascript:void(0);">朝九晚五</a>
                            </div>
                        </div>
                    </div>
                </div>
            </standard-form-row>
        </form>
    </nz-card>
</div>
<nz-list [nzLoading]="loading" [nzDataSource]="list" [nzGrid]="{gutter: 24, lg: 6, md: 8, sm: 12, xs: 24 }">
    <ng-template #item let-item>
        <nz-list-item>
            <nz-card nzHoverable>
                <ng-template #cover><img alt="{{item.vehicle}}" src="{{'elastic/image/demo/' + item.picture}}" style="height:180px"></ng-template>
                <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
                    <ng-template #nzTitle><a>{{item.vehicle}}</a></ng-template>
                    <ng-template #nzDescription>
                        <p>途经区域:{{item.location_count}}</p>
                        <p>被抓拍次数:{{item.doc_count}}</p>
                        <p>分类标签: {{item.labels}}</p>
                    </ng-template>
                </nz-card-meta>
                <div class="card-item-content">
                    <span class="text-grey">{{item.lastPassTime | date: 'yyyy-M-d HH:mm'}}</span>
                </div>
            </nz-card>
        </nz-list-item>
    </ng-template>
</nz-list>