<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
        <nz-card [nzBordered]="false" nzTitle="申请单位信息">
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>申请人</label></div>
                        <div nz-form-control nz-col>
                            <nz-input formControlName="sqry" nzSize="large"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>申请单位</label></div>
                        <div nz-form-control nz-col>
                            <nz-input formControlName="sqdw" nzSize="large"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>申请日期</label></div>
                        <div nz-form-control nz-col>
                                <nz-input formControlName="sqrj"  nzSize="large"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="6" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>联系电话</label></div>
                        <div nz-form-control nz-col [nzValidateStatus]="name3">
                            <nz-input formControlName="name3" nzPlaceHolder="联系电话" nzSize="large"></nz-input>
                            <p nz-form-explain *ngIf="(name3.dirty || name3.touched) && name3.errors?.required">
                                联系电话
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="布控对象">
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="8" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>号牌号码</label>
                            <nz-tooltip [nzTitle]="'例如:粤A12345'">
                                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
                            </nz-tooltip>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="hphm">
                            <nz-input formControlName="hphm" nzPlaceHolder="请输入号牌号码" nzSize="large"></nz-input>
                            <p nz-form-explain *ngIf="(hphm.dirty || hphm.touched) && hphm.errors?.required">
                                请输入号牌号码
                            </p>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="12" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>号牌种类</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="hpzl">
                            <nz-select formControlName="hpzl" [nzPlaceHolder]="'请选择执行人'" [nzShowSearch]="true" nzSize="large">
                                <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <p nz-form-explain *ngIf="(hpzl.dirty || hpzl.touched) && hpzl.errors?.required">
                                请选择号牌种类
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="布控信息">
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>布控类别</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="bkdl" style="width: 30%;display: inline-block;">
                            <nz-select formControlName="bkdl" [nzPlaceHolder]="'布控大类'" [nzShowSearch]="true" nzSize="large">
                                <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <p nz-form-explain *ngIf="(bkdl.dirty || bkdl.touched) && bkdl.errors?.required">
                                请选择执行人
                            </p>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="bklb" style="width: 50%;display: inline-block;">
                            <nz-select formControlName="bklb" [nzPlaceHolder]="'请选择执行人'" [nzShowSearch]="true" nzSize="large">
                                <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <p nz-form-explain *ngIf="(bklb.dirty || bklb.touched) && bklb.errors?.required">
                                请选择执行人
                            </p>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>布控性质</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="bkxz">
                            <nz-select formControlName="bkxz" [nzPlaceHolder]="'请选择执行人'" [nzShowSearch]="true" nzSize="large">
                                <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <p nz-form-explain *ngIf="(bkxz.dirty || bkxz.touched) && bkxz.errors?.required">
                                请选择执行人
                            </p>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>布控级别</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="bkjb">
                            <nz-select formControlName="bkjb" [nzPlaceHolder]="'请选择布控级别'" [nzShowSearch]="true" nzSize="large">
                                <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <p nz-form-explain *ngIf="(bkjb.dirty || bkjb.touched) && bkjb.errors?.required">
                                请选择布控级别
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>布控起始时间</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="bkqssj">
                            <nz-datepicker formControlName="bkqssj" style="width:100%" nzShowTime [nzFormat]="'YYYY-MM-DD'"></nz-datepicker>
                            <p nz-form-explain *ngIf="(bkqssj.dirty || bkqssj.touched) && bkqssj.errors?.required">
                                请选择布控起始时间
                            </p>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>布控截止时间</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="bkjzsj">
                            <nz-datepicker formControlName="bkjzsj" style="width:100%" nzShowTime [nzFormat]="'YYYY-MM-DD'"></nz-datepicker>
                            <p nz-form-explain *ngIf="(bkjzsj.dirty || bkjzsj.touched) && bkjzsj.errors?.required">
                                请选择布控截止时间
                            </p>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label><span class="req">*</span>报警预案</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="bjya">
                            <nz-select formControlName="bjya" [nzPlaceHolder]="'请选择报警预案'" [nzShowSearch]="true" nzSize="large">
                                <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value">
                                </nz-option>
                            </nz-select>
                            <p nz-form-explain *ngIf="(bjya.dirty || bjya.touched) && bjya.errors?.required">
                                请选择报警预案
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>涉枪涉爆</label></div>
                        <div nz-form-control nz-col>
                            <nz-switch [nzSize]="'large'" class="mr-sm"></nz-switch>
                        </div>
                    </div>
                </div>
                <div nz-col nzMd="8" nzSm="16" nzXs="24">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col><label>短信接收号码</label></div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="owner2">
                            <nz-input formControlName="owner2" nzPlaceHolder="请输入任务名" nzSize="large"></nz-input>
                            <p nz-form-explain *ngIf="(owner2.dirty || owner2.touched) && owner2.errors?.required">
                                请选择执行人
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="布控范围">
            <div nz-row [nzGutter]="16">
                <!--<div nz-button nzSize="large" *ngFor="let item of items">广州市</div>-->
                <div nz-button nzSize="large">广州市</div>
                <div nz-button nzSize="large">广州市</div>
                <div nz-button nzSize="large">广州市</div>
            </div>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="附件信息">
            <div nz-row [nzGutter]="16">
                <div nz-col nzMd="8" nzSm="16" nzXs="24">

                </div>
            </div>
        </nz-card>
        <footer-toolbar errorCollect>
            <button nz-button [nzType]="'primary'" nzSize="large">提交</button>
            <button nz-button [nzType]="'primary'" nzSize="large">保存草稿</button>
            <button nz-button  nzSize="large">返回</button>
        </footer-toolbar>
    </form>
