#searchList .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding: 10px 8px;
      text-align: center;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
} 
#searchList .ant-table-thead > tr > th{
      background:#CBE7FA;
}
#searchMore{
    text-align: center;
    width: 100px;
    margin: 0 auto;
    background: #108ee9;
    color: white;
    padding: 2px;
    cursor: pointer;
}
#showType .ant-tabs .ant-tabs-bar{
      margin-bottom:0px;
}
#showType tr{
      cursor: pointer;
}
#ant-avatar-lg .ant-avatar-lg{
         height: 150px;
 }
 .ant-modal-content .ant-btn-ghost{
       display: none;
 }
 .carMessage{
       margin-top: 5px;
 }
.carMessage span{
    display: inline-block;
    width: 80px;
    font-size: 15px;
    color: #252525;
 }
 .carMessage .carMessageSpan{
       width:150px;
       color: #595959;
 }
:host ::ng-deep .ant-modal{
      width: 890px;
}
:host ::ng-deep .ant-table-placeholder{
      display: none;
}
