
<!--列表数据显示部分 *ngIf="expandForm" [nzPageSize]="50"-->
<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" id="showType">
    <nz-tab>
        <ng-template #nzTabHeading>
          列表展示
        </ng-template>
        <my-table [Myurl]="'remote/api/rest/passrec'" [ifUrl]="Url" (tableLists)="getTabelList($event)" [searchData]="searchtest">
                 <div class="mytabel-body">
                      <div nz-row [nzGutter]="24" id="tabel_thead">
                          <div nz-col [nzSpan]="4"><span>过车时间</span></div>
                          <div nz-col [nzSpan]="5"><span>卡口名称</span></div>
                          <div nz-col [nzSpan]="3"> <span>号牌号码</span> </div>
                          <div nz-col [nzSpan]="3"><span>号牌种类</span></div>
                          <div nz-col [nzSpan]="3"><span>行驶方向</span></div>
                          <div nz-col [nzSpan]="3"><span>行驶速度</span></div>
                          <div nz-col [nzSpan]="3"><span>车辆类型</span></div>
                      </div>
                       <div nz-row [nzGutter]="24" id="tabel_body" *ngFor="let data of data" (click)="carDetailMore(title, content, footer,800,data.fxbh)">
                          <div nz-col [nzSpan]="4"><span>{{data.gcsj}}</span></div>
                          <div nz-col [nzSpan]="5"><span>{{data.kkmc}}</span></div>
                          <div nz-col [nzSpan]="3"><span>{{data.hphm}}</span> </div>
                          <div nz-col [nzSpan]="3"><span>{{data.hpzlmc}}</span></div>
                          <div nz-col [nzSpan]="3"><span>{{data.xsfx}}</span></div>
                          <div nz-col [nzSpan]="3"><span>{{data.xssd}}</span></div>
                          <div nz-col [nzSpan]="3"><span>{{data.cllx}}</span></div>
                      </div>
                 </div>
        </my-table>
    </nz-tab>
     <nz-tab>
        <ng-template #nzTabHeading>
          图表展示
        </ng-template>
        <div nz-row [nzGutter]="24" class="showCarPhoto">
              <div nz-col [nzSpan]="6" *ngFor="let item of data">
                  <img src="{{item.tp1}}" alt="" style="width:250px;height:120px;margin-left:5px">
                  <dl>
                          <dt></dt>
                          <dd>{{item.hphm}}  {{item.hpzlmc}}</dd>
                          <dd>{{item.gcsj}}</dd>
                      
                 </dl>
              </div>
        </div>
    </nz-tab>
</nz-tabset>
 <my-loading *ngIf="loading"></my-loading>
<!--显示详情-->
<nz-modal [nzContent]="modalContent">
    <ng-template #title>
      <span>过车图片展示</span>
    </ng-template>
    <ng-template #content>
      <div>
         <div nz-row>
            <div nz-col [nzSpan]="8" style="text-align:center">
                <nz-popover>
                    <img src="{{dataOne.tp1}}" alt="" style="width:200px" nz-popover>
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp1}}" alt="">
                    </ng-template>
                </nz-popover>
            </div>
            <div nz-col [nzSpan]="8" style="text-align:center">
               <nz-popover>
                    <img src="{{dataOne.tp1}}" alt="" style="width:200px" nz-popover>
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp1}}" alt="">
                    </ng-template>
                </nz-popover>
            </div>
             <div nz-col [nzSpan]="8" style="text-align:center">
                 <nz-popover>
                    <img src="{{dataOne.tp1}}" alt="" style="width:200px" nz-popover>
                    <ng-template #nzTemplate>
                        <img src="{{dataOne.tp1}}" alt="">
                    </ng-template>
                </nz-popover>
            </div>
        </div>
         <nz-collapseset>
              <nz-collapse [nzTitle]="'过车信息'" [nzActive]="true">
                 <p class="carMessage">
                    <span>号牌号码：</span>
                    <span class="carMessageSpan">{{dataOne.hphm}}</span>
                    <span>号牌种类：</span>
                    <span class="carMessageSpan">{{dataOne.hpzlmc}}</span>
                    <span>车辆类型：</span>
                    <span class="carMessageSpan">宝马</span>
                </p>
                <p class="carMessage">
                    <span>过车时间：</span>
                    <span class="carMessageSpan">{{dataOne.gcsj}}</span>
                    <span>号牌颜色：</span>
                    <span class="carMessageSpan">{{dataOne.hpysmc}}</span>
                    <span>行驶速度：</span>
                    <span class="carMessageSpan">{{dataOne.xssd}}</span>              
                </p>
                <p class="carMessage">
                    <span>行驶方向：</span>
                    <span class="carMessageSpan">由东向西</span>
                    <span>设备信息：</span>
                    <span class="carMessageSpan">232323</span>
                    <span>车道信息：</span>
                    <span class="carMessageSpan">车道1</span>                 
                </p>
                <p class="carMessage">
                    <span>卡口名称：</span>
                    <span style="width:150px" class="carMessageSpan">{{dataOne.kkmc}}</span>
                    
                </p>
            </nz-collapse>
        </nz-collapseset>
         <nz-collapseset>
              <nz-collapse [nzTitle]="'机动车信息'">
                
                <p class="carMessage">
                    <span>号牌号码：</span>
                    <span class="carMessageSpan">{{dataOne.hphm}}</span>
                    <span>号牌种类：</span>
                    <span class="carMessageSpan">{{dataOne.hpzlmc}}</span>
                    <span>车辆类型：</span>
                    <span class="carMessageSpan">大型汽车</span>
                </p>
                <p class="carMessage">
                    <span>车辆型号：</span>
                    <span class="carMessageSpan">suv</span>
                    <span>车辆品牌：</span>
                    <span class="carMessageSpan">宝马</span>
                    <span>车身颜色：</span>
                    <span class="carMessageSpan">白色</span>
                </p>
                <p class="carMessage">
                    <span>联系电话：</span>
                    <span class="carMessageSpan">12345678901</span>
                </p>
                <p class="carMessage">
                    <span style="width:120px">机动车所有人：</span>
                    <span class="carMessageSpan">阳关耐特</span>
                </p>
                 <p class="carMessage">
                    <span>详细地址：</span>
                    <span style="width:500px" class="carMessageSpan">东风中路越秀桥路段</span> 
                </p>
                 
            </nz-collapse>
        </nz-collapseset>
      </div>
    </ng-template>
    <ng-template #footer>
      <div>
      </div>
    </ng-template>
</nz-modal>
<!--导出数据-->
<my-modal [isModal]="isModalShow_put" (initRows)=hasChange($event)>
      <div class="myModal-title">
          <span>导出数据</span>
      </div>
      <div class="myModal-content">
           <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex" style="margin-bottom:0px">
                    <div nz-form-label><label for="dcnr">导出内容：</label></div>
                    <div nz-form-control class="flex-1">
                          <my-select2 name="dcnr" [(ngModel)]="putout.dcnr" [data]="dcList" [fieldKey]="{text:'dmsm1',value:'dmz'}"></my-select2>
                    </div>
                </div>
         </div>
        <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex" style="margin-bottom:0px">
                    <div nz-form-label><label for="dcsl">导出数量：</label></div>
                    <div nz-form-control class="flex-1">
                         <nz-input [(ngModel)]="putout.dcsl" [nzPlaceHolder]="'导出数量'" name="dcsl"></nz-input>
                    </div>
                </div>
            </div>
        <p>1.导出数据最多只能导出2000条； 2.导出图片</p>
      </div>
       <div class="myModal-footer">
          <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'">导出</button>
      </div>
</my-modal>