<!--查询条件部分 *ngIf="!ifMoreSearch"-->
<!--<my-tab [typeName]="'searchOne'" [VehicleType]="'frequent'" (selectListBack)="getFrequentList($event)"></my-tab>-->
<my-tab-one [VehicleType]="'frequent'" (selectListBack)="getFrequentList($event)"></my-tab-one>
<!--点击区域显示详情-->
<my-modal [isModal]="isAreaDetailShow" (initRows)=hasChange($event) [myWidth]="1000">
      <div class="myModal-title">
          <span>详细信息</span>
      </div>
      <div class="myModal-content">
          <nz-tabset>
                    <nz-tab (nzClick)="showListTypes('list')">
                        <ng-template #nzTabHeading>
                        <!--<i [ngClass]="'anticon anticon-exception'"></i>-->
                        列表展示
                        </ng-template>
                    </nz-tab>
                    <nz-tab (nzClick)="showListTypes('photo')">
                        <ng-template #nzTabHeading>
                        <!--<i [ngClass]="'anticon anticon-picture'"></i>-->
                        图表展示
                        </ng-template>
                    </nz-tab>
         </nz-tabset>
          <nz-table #nzTable id="searchList" [nzPageSize]="paginationArea.pageSize" [nzPageIndex]="paginationArea.pageIndex" [nzAjaxData]="areaDetails" nzShowQuickJumper nzShowTotal [nzTotal]="areaTotal" (nzPageIndexChange)="areaIndexChange($event)">
                <!--<ng-template #nzFixedHeader>-->
                    <thead nz-thead *ngIf="showLp==true">
                    <tr>
                        <th nz-th [nzWidth]="'50px'"><span></span></th>
                        <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>号牌颜色</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>号牌种类</span></th>
                        <th nz-th [nzWidth]="'250px'"><span>经过卡口</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>行驶方向</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>过车时间</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>过车图片</span></th>
                    </tr>
                    </thead>
                <!--</ng-template>-->
                <tbody nz-tbody *ngIf="showLp==true">
                    <tr nz-tbody-tr *ngFor="let data of areaDetails">
                        <td nz-td>{{data.xh}}</td>
                        <td nz-td class="colorLink" (click)="showFrequentOne(data)">{{data.hphm}}</td>
                        <td nz-td>{{data.hpysmc}}</td>
                        <td nz-td>{{data.hpzlmc}}</td>
                        <td nz-td title="{{data.kkmc}}">{{data.kkmc}}</td>
                        <td nz-td>{{data.fxmc}}</td>
                        <td nz-td>{{data.gcsj}}</td>
                        <td nz-td>
                            <nz-popover>
                                <img src="{{data.tplj}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false" class="smallImg">
                                <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true" class="smallImg">
                                <ng-template #nzTemplate>
                                    <img src="{{data.tplj}}" alt="" *ngIf="ifErrorImg==false">
                                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                </ng-template>
                            </nz-popover>
                        </td>
                </tr>
                </tbody>
                <div nz-row [nzGutter]="24" class="showCarPhoto" *ngIf="showLp==false">
                        <div nz-col [nzSpan]="6" *ngFor="let item of areaDetails">
                            <nz-popover>
                               <img src="{{item.tplj}}" alt="" (error)="errorImg()" *ngIf="ifErrorImg==false" class="middleImg">
                               <img src="../../../../assets/img/error.jpg" alt=""  *ngIf="ifErrorImg==true"  class="middleImg">
                                <ng-template #nzTemplate>
                                    <img src="{{item.tplj}}" alt="" *ngIf="ifErrorImg==false">
                                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                </ng-template>
                            </nz-popover>
                            <dl>
                                    <dd><span>号牌号码：</span><span class="colorLink" (click)="showFrequentOne(item)">{{item.hphm}}</span></dd>
                                    <dd><span>号牌颜色：</span><span>{{item.hpysmc}}</span></dd>
                                    <dd><span>过车时间：</span><span>{{item.gcsj}}</span></dd>
                                    <dd><span>经过卡口：</span><span title="{{data.kkmc}}" class="overflowHide" style="width:154px">{{item.kkmc}}</span></dd>
                                    <dd><span>所属区域：</span><span>{{item.citymc}}</span></dd>
                                
                            </dl>
                        </div>
                </div>
          </nz-table>
      </div>
      <div class="myModal-footer" style="clear:both">
          
      </div>
</my-modal>
 <!--列表展示-->
 <nz-table id="searchList" #nzTable [nzPageSize]="pagination.pageSize" [nzPageIndex]="pagination.pageIndex" nzShowQuickJumper nzShowTotal [nzAjaxData]="data" [nzTotal]="dataTotal" (nzPageIndexChange)="indexChange($event)">
                    <thead nz-thead>
                        <tr>
                             <th nz-th [nzWidth]="'50px'"><span></span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌种类</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌颜色</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>卡口数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>天数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>次数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>操作</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let dataFrequent of nzTable.data;let i=index">
                            <td nz-td>{{dataFrequent.xh}}</td>
                            <td nz-td class="colorLink" (click)="recentCarDetail(dataFrequent)">{{dataFrequent.hphm}}</td>
                            <td nz-td>{{dataFrequent.hpzlmc}}</td>
                            <td nz-td>{{dataFrequent.hpysmc}}</td>
                            <td nz-td>{{dataFrequent.kks}}</td>
                            <td nz-td>{{dataFrequent.ts}}</td>
                            <td nz-td>{{dataFrequent.cs}}</td>
                            <td nz-td class="colorLink" (click)="showFrequentDetail(i,dataFrequent)">明细</td>
                        </tr>
                    </tbody>
</nz-table>
<!--加载动画-->
<my-loading *ngIf="myLoading"></my-loading>