<!--点击弹出条件填写框-->
<my-tab [typeName]="'searchOne'" [VehicleType]="'peer'" (selectListBack)="getPeerList($event)"></my-tab>
<!--点击区域显示详情-->
<my-modal [isModal]="isAreaDetailShow" (initRows)=hasChange($event) [myWidth]="1100">
      <div class="myModal-title">
          <span>详细信息</span>
      </div>
      <div class="myModal-content">
          <nz-table #nzTable id="searchList" [nzPageSize]="paginationArea.pageSize" [nzPageIndex]="paginationArea.pageIndex" [nzAjaxData]="areaDetails" nzShowQuickJumper nzShowTotal [nzTotal]="areaTotal" (nzPageIndexChange)="areaIndexChange($event)">
                <!--<ng-template #nzFixedHeader>-->
                    <thead nz-thead *ngIf="showLp==true">
                    <tr>
                        <th nz-th [nzWidth]="'50px'">
                            <span> 
                               <label nz-checkbox [(ngModel)]="_checked" (ngModelChange)="ifAll($event)">
                                    <span>显示全部</span>
                              </label>
                            </span>
                        </th>
                        <th nz-th [nzWidth]="'100px'"><span>间隔时间</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>经过卡口</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>目标车辆号牌</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>目标车辆过车时间</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>目标车辆图片</span></th>
                        <th nz-th [nzWidth]="'80px'"><span>同行车辆号牌</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>同行车辆过车时间</span></th>
                        <th nz-th [nzWidth]="'100px'"><span>同行车辆图片</span></th>
                    </tr>
                    </thead>
                <!--</ng-template> class="colorLink" (click)="showFrequentOne(data)"-->
                <tbody nz-tbody *ngIf="showLp==true">
                    <tr nz-tbody-tr *ngFor="let data of areaDetails">
                        <td nz-td>{{data.xh}}</td>
                        <td nz-td>间隔{{this.search.minutes}}分钟同行</td>
                        <td nz-td>{{data.kkmc}}</td>
                        <td nz-td>{{this.search.license}}</td>
                        <td nz-td>{{data.mbgcsj}}</td>
                        <td nz-td>
                            <nz-popover>
                                <img src="{{data.mbtplj}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false" class="smallImg">
                                <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true" class="smallImg">
                                <ng-template #nzTemplate>
                                    <img src="{{data.mbtplj}}" alt="" *ngIf="ifErrorImg==false">
                                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                </ng-template>
                            </nz-popover>
                        </td>
                        <td nz-td>{{data.hphm}}</td>
                        <td nz-td>{{data.gcsj}}</td>
                        <td nz-td>
                            <nz-popover>
                                <img src="{{data.tplj}}" alt="" nz-popover (error)="errorImg()" *ngIf="ifErrorImg==false" class="smallImg">
                                <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true" class="smallImg">
                                <ng-template #nzTemplate>
                                    <img src="{{data.tplj}}" alt="" *ngIf="ifErrorImg==false">
                                    <img src="../../../../assets/img/error.jpg" alt="" nz-popover *ngIf="ifErrorImg==true">
                                </ng-template>
                            </nz-popover>
                        </td>
                </tr>
                </tbody>
          </nz-table>
      </div>
      <div class="myModal-footer" style="clear:both">
          
      </div>
</my-modal>
 <!--列表展示-->
 <nz-table id="searchList" #nzTable [nzPageSize]="10" [nzPageIndex]="1" nzShowQuickJumper nzShowTotal [nzAjaxData]="data" [nzTotal]="dataTotal" (nzPageIndexChange)="indexChange($event)">
                    <thead nz-thead>
                        <tr>
                             <th nz-th [nzWidth]="'50px'"><span></span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌号码</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌种类</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>号牌颜色</span></th>
                             <th nz-th [nzWidth]="'100px'"><span>违法信息</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>同行次数</span></th>
                             <th nz-th [nzWidth]="'50px'"><span>操作</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let dataFrequent of nzTable.data;let i=index">
                            <td nz-td>{{dataFrequent.xh}}</td>
                            <td nz-td class="colorLink" (click)="recentCarDetail(dataFrequent)">{{dataFrequent.hphm}}</td>
                            <td nz-td>{{dataFrequent.hpzlmc}}</td>
                            <td nz-td>{{dataFrequent.hpysmc}}</td>
                            <td nz-td>{{dataFrequent.ts}}</td>
                            <td nz-td>{{dataFrequent.cs}}</td>
                            <td nz-td class="colorLink" (click)="showFrequentDetail(i,dataFrequent)">明细</td>
                        </tr>
                    </tbody>
</nz-table>
<!--加载动画-->
<my-loading *ngIf="myLoading"></my-loading>