/*
* @Author: anchen
* @Date:   2017-08-30 15:54:37
* @Last Modified by:   anchen
* @Last Modified time: 2017-08-30 17:12:50
*/

@font-face {
  font-family: "DS-DIGIB"; /*这里是说明调用来的字体名字*/
  src: url('../../assets/fonts/DS-Digital-Bold.eot?v=1.0');
  src: url('../../assets/fonts/DS-Digital-Bold.eot?#iefix&v=1.0') format('embedded-opentype'), url('../../assets/fonts/DS-Digital-Bold.woff?v=1.0') format('woff'), url('../../assets/fonts/DS-Digital-Bold.ttf?v=1.0') format('truetype'), url('../../assets/fonts/DS-Digital-Bold.svg#regular?v=1.0') format('svg');
}
@media (min-width: 991px){
    .content {
        margin: 0px;
    }
}
body{
    height: 100%;
    width: 100%;
    font-family: "Microsoft YaHei";
}
.show-body{
    position: relative;
    /*background:url(/assets/images/bg.png) no-repeat;*/
    background:url(../../assets/images/bg.png) round;
    height: auto;
    width: 100%;
    background-size: 100% 100%;
    min-height: 768px;
    max-height: 1080px;
    max-width: 1920px;
    min-width: 1024px;
    overflow: hidden;
    padding: 0;margin:0 auto;
}
.header{
    position: absolute;
    min-width: 1024px;
    top: 0;
    left: 0;
    right: 0;
    height:70px;
    padding-left: 0;
    padding-right: 0;
    background: rgba(0,0,0,0);
}
.header-title{
    height: inherit;
    width: 100%;
    padding: 19px 30px 0 30px;
    z-index: 9999;
    position: absolute;
}
.title-two{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    width: 100%;
    height: 53px;
    line-height: 45px;
    display: inline-block;
    text-shadow: 3px 2px 1px #000;
}
.line{
    /*width: calc(80% - 268px);*/
    /*width: calc(80% - 10px);*/
    width: 100%;
    /*margin-left: 268px;*/
    /*border-top: 1px solid #7daab0;
    border-bottom: 2px solid #7daab0;*/
    height: 51px;
}
.title-three{
    /*background: url(/assets/images/title-three.png) no-repeat;*/
    z-index: 4;
    position: absolute;
    padding: 0px 20px;
    width: 500px;
    text-shadow: 2px 2px 5px #49fdfe;
    height: 52px;
    letter-spacing: 3px;
    right: 0px;
    font-size: 22pt;
    margin: 0 auto;
    left: 0px;
}
.title-two i{
     padding: 0px 20px;
    vertical-align: middle;
}
.list{
    /*overflow: hidden;
    position: absolute;
    top: 44px;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9999999;
    cursor: pointer;*/
    right: 0px;
    top: 5px;
    position: absolute;
        cursor: pointer;
}
.list li{
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
    color: #49fdfe;
    font-size:16px;
    border:1px solid #0d688b;
    text-align: center;
    margin-left: 10px;
}
.list li.active{
    background-color: #097299;
    border:1px solid #097299;
    color: #49fdfe;
}
.header-title i{
    display: inline-block;
}
.part-warp{
    height: 100%;margin: 0 auto;padding:0;
    width: 100%;
}
.footer-show{
    height: 30px;
    color: #666;
    background-color: #2a2b2c;
    border-top: 1px solid #a9aaaa;
    line-height: 30px;
    text-align: center;
    position: relative;
    bottom: 0;
}
.line-l{
      width: 2px;
      height: 2px;
      position: absolute;
      left: -2px;
      top: -2px;
      background-color: #49fdfe;

}
.line-t{
  width: 2px;
  height: 2px;
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #49fdfe;

}
.line-r{
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  right:-2px;
  background-color: #49fdfe;

}
.line-b{
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    background-color: #49fdfe;

}
.fl{
  float: left;
}
.fr{
  float: right;
}
.font-red{
  color: red;
}
.font-green{
  color: #3bead9;
}
.font-blue{
  color: #3bb6f6;
}
.font-yellow{
  color: yellow;
}
.ta-c{
  text-align: center
}
