/*
* @Author: anchen
* @Date:   2017-08-30 15:54:37
* @Last Modified by:   anchen
* @Last Modified time: 2017-09-02 11:09:45
*/
.panels{
    height: calc(100% - 70px);
    width: 100%;
    margin-top: 70px;
    padding: 0px 13px;
    overflow: hidden;
}
.show-rows{
    width: 100%;
}
.w25{
    width: 23%;
}
.w50{
    width: 48%;
}
.w100{
    width: 98%
}
.top-titles{
    border-top: 1px solid #019cd6;
    padding-top: 1px;
}
.top-title{
    height: 40px;
    width: 100%;
    background: rgba(18, 81,111 ,0.3);
    padding: 10px;
    text-align: left;

}
.top-title-right{
    padding-left: 5px;
    border-left: 4px solid #49fdfe;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 3px 2px 1px #000;
}
.show-list{
    /*min-height: 485px;*/
    height: auto;
    float: left;
    margin: 15px 13px;
    text-align: center;
    position: relative;
}
.line-l{
      width: 2px;
      height: 2px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #49fdfe;

}
.line-t{
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #49fdfe;

}
.line-r{
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: 0;
  right:0;
  background-color: #49fdfe;

}
.line-b{
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #49fdfe;

}
.bottom-contents{
    border-bottom: 1px solid #019cd6;
    padding-top: 1px;
    height: 418px;
}
.bottom-content{
    height: 418px;
    width: 100%;
    background: rgba(20,39,54,0.3);
}
.top-tips{
    position: absolute;
    width: 210px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    line-height: 45px;
    border: 1px solid rgb(1, 156, 214);
    z-index: 99999;
    box-shadow: 0px 0px 11px 4px #24747b;
    top: 60px;
    left: 18px;
}

/*temp*/
a,
a:hover{
  color: #49fdfe;
  text-decoration:none;
}
