.panel-left,
.panel-right{
  width: 315px;
  height: auto;
  position: relative;
}
.header{
  position: relative !important;
  z-index: 3;
}
.part-warp{
  position: relative;
  overflow: hidden;
}
.content{
  position: relative;
  width: 100%;
  padding-top: 20px;
  height: calc(100% - 90px);
}
#content-bottom{
    width: 100%;
    height: 45px;
    margin-top: 10px;
    position: inherit;
    padding: 0px 30px 5px 30px;
}
#content-bottom .form-datetime{
    padding: 0px;
    opacity: 0;
    width: 0px;
    display: inline-table;
    height: 20px;
    position: absolute;
    top: 0px;
}
.spacle-unit{
    width: 100%;
    border-top: 1px solid #019cd6;
    border-bottom: 1px solid #019cd6;
    box-shadow: 0px 3px 0 0 #1e434d;
    position: relative;
}
.spacle-title{
    height: 40px;
    width: 100%;
    /* background: rgba(1,156,214 ,0.3); */
    /* padding: 10px; */
    text-align: left;
    /* margin-bottom: 5px; */
    overflow: hidden;
  }
.unit-left{
    border-top: 1px solid #49fdfe;
    border-bottom: 1px solid #49fdfe;
    margin: 2px 0;
    float: left;
    width: 20%;
    height: 36px;
    padding: 5px;
    /* padding: 5px; */
    overflow: hidden;
}
.unit-left div{
    float: left;
    color: #fff;

    padding-right: 10px;
    padding-left: 10px;

}
.unit-right{
    width: 77%;
    margin-left: 22%;
}
.unit-right ul{
    overflow: hidden;
}
.unit-right ul li:first-child{
    border-left: 1px solid #019cd6;
}
.unit-right ul li{
    display: inline-block;
    font-size: 12px;
    border-right: 1px solid #019cd6;
    color: #fff;
    text-align: center;
    padding: 1px 1%;
    height: 40px;
    float: left;
}
.unit-right ul li:hover{
  background-color:#113c51;
  cursor: pointer;
}
.unit-right ul li span{
  line-height: 40px;
}
.days{
    border: 1px solid #07a4d9;
    padding-right: 10px;
    padding-left: 10px;

    margin: 0px 10px;
}
.days:hover{
    background-color: #07a4d9;
    cursor: pointer;
}
.padding-left{
    padding-left: 35px;
    border-right: 1px solid #49fdfe;

}
.panel-left .unit:nth-child(1),
.panel-right .unit:nth-child(1){
  /*width:223px;*/
  margin-top: 2px;
}
/*相框布局样式*/
.panel-left .unit{
  left: 30px;
}
.unit{
  width: 280px;
  height: auto;
  position:relative;
  margin-top: 17px;
  border-top: 1px solid #019cd6;
  border-bottom: 1px solid #019cd6;
  color: #ffffff;
}
.unit-title{
    height: 40px;
    width: 100%;
    background: rgba(1,156,214 ,0.3);
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
}
.unit-title .totalCount{
   float: right;
}
.unit-title-text{
    padding-left: 5px;
    border-left: 4px solid #49fdfe;
    font-size: 16px;
    letter-spacing: 2px;
    text-shadow: 3px 2px 1px #000;
}
.unit-body{
  width: 100%;
  height: auto;
  background: rgba(1,156,214 ,0.2);
}
.unit-body .blue{
    color: #49fdfe
}
.digib-text{
    font-family: 'DS-DIGIB';
    font-size: 42px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 60px;
    color: #f1e554
}
.unit-chart{
    float: left;
    width: 130px;
    height: 120px;
    background: url(../../assets/images/arc.png) no-repeat 25px;
}
.radar-data{
  display: inline-block;
  background: rgba(1,156,214 ,0.2);
  width: 150px;
  height: 120px;
}
.radar-data ul li{
  margin: 15px 0px;
  font-size: 13px;
}
/*.radar-data ul li:nth-child(1){
  margin-bottom: 15px;
}*/
.radar-data ul li label{
    width: 80px;
    margin-bottom: 0px;
}
.radar-data  .car1{
    font-size: 16px;
    font-family: 'DS-DIGIB';
}
.radar-data span{
  margin-right: 5px;
}
.radar-data .data-table{
  width: 100%;
}
.radar-data .data-table td{
  font-size: 12px;
}
.chart-title{
  width: 100%;
  height: 25px;
  background: rgba(1,156,214 ,0.35);
}
.chart-title-text {
    float: left;
    width: 50%;
    text-align: center;
    height: 20px;
    border-left: 2px solid #49fdfe;
    vertical-align: middle;
    margin-top: 2px;
}
.chart-bar-car{
  width: 100%;
  min-height: 220px;
}
.chart-bar-car ul li:nth-child(2),
.chart-bar-car ul li:nth-child(3)
{
  text-align: left;
  padding: 0px 75px;
}
.chart-bar-car ul li span{
    float: right;
}
.chart-user-car{
  width: 100%;
  height: 264px;
}

/*中间地图布局样式*/
.panel-mid{
    width: calc(100% - 315*2px);
    /* height: calc(100% - 70px - 80px); */
    min-height: 570px;
    /*background-color: blue;*/
    position: absolute;
    /* float: left; */
    left: 315px;
    top: 0;
    bottom: 0;
    color: white;
}
.panel-mid .info-win{
    position: absolute;
    top: 2px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0 auto;
    border-top: 1px solid #05a2d8;
    border-bottom: 1px solid #05a2d8;
    width: calc(100% - 10px);
    height: 39px;
    /*margin-top: 2px;*/
}
.panel-mid .info-content{
    position: absolute;
    left: 3px;
    height: 35px;
    border-top: 1px solid #49fdfe;
    border-bottom: 1px solid #49fdfe;
    top: 1px;
    right: 3px;
}
.panel-mid input[type=checkbox]{
  position: relative;
  border: 1px solid #019cd6;
}
.panel-mid input[type=checkbox]:checked{
  background: #4de3ff;
  border:  1px solid #4de3ff;
}
.panel-mid input[type=checkbox]:checked::after{
  content: none;
}
.panel-mid .cont-left{
    text-align: center;
    width: 70px;
    float: left;
    line-height: 20px;
    margin: 8px;
    margin-right: 0px;
    padding-right: 10px;
    border-right: 1px solid #49fdfe;
}
.panel-mid .cont-right{
    width: calc(100% - 80px);
    float: left;
    line-height: 33px;
}
.select-win {
    width: 230px;
    height: 43px;
    position: absolute;
    right: 5px;
    top: 55px;
    border: 1px solid #019cd6;
    box-shadow: 0 0 10px #49fdfe;
}
.select-type {
    width: 114px;
    float: left;
    line-height: 0px;
    padding: 3px 0px 3px 12px;
    margin: 8px 0px;
}
.select-type:nth-child(1){
      border-right: 2px solid #49fdfe;
}
.select-type span{
    position: relative;
    top: -3px;
}
.panel-mid .car-detail{
    width: 411px;
    height: 368px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../../assets/images/detail-div.png) no-repeat;
    z-index: 6;
}
.panel-mid .car-photo{
  height: 187px;
  width: 372px;
  text-align: center;
}
.panel-mid .car-photo img{
  max-width:85%;
  max-height: 100%;
}
.panel-mid .car-table{
  height: 105px;
  width: 372px;
}
.panel-mid .car-table table{
  width:100%;
  text-align: center;
}
.panel-mid .car-table table tr{
  line-height: 24px;
}
.panel-mid .car-table table tr:nth-child(odd){
  color: #43dfe0;
}
.panel-mid .detail-text{
    width: 372px;
    height: 291px;
    position: absolute;
    top: 46px;
    left: 26px;
}
.panel-mid .detail-title{
    width: 100px;
    position: absolute;
    top: 3px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    left: 65px;
    font-weight: bold;
}
.panel-mid .data-type {
    width: 460px;
    height: 88px;
    position: absolute;
    top: 98px;
    right: 0px;
    border: 1px solid #019cd6;
    box-shadow: 0 0 10px #49fdfe;
    background: rgba(42,138,255 ,0.3);
}
.panel-mid .data-type ul li{
      margin: 4px 12px;
}
.panel-mid .data-type span{
    font-size: 12px;
    border-left: 1px solid #49fdfe;
    margin-left: 10px;
    padding-left: 5px;
}
.panel-mid .car-list{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 180px;
}
/*右边图表布局样式*/
.panel-right .unit{
  right: 30px;
  float: right;
}
.total-car {
    padding: 0px 10px 5px 30px;
    letter-spacing: 1px;
}
.eachcity .chart-title-text{
    width: 25%;
}
.eachcity .chart-title-text:nth-child(3){
    border-left: 2px solid #49fdfe;;
}

/*遮蔽层*/
.cover-win{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  background: #000;
  opacity: 0.3;
}

.list{
  text-shadow: none;
}
.dropdown-menu{
  background-color: red;
}
.choose{
  background-color: #1f535c;
}
