<div class="show-body">
<div class="header">
   <div class="header-title">
      <div class="title-two">
        <div class="title-three">
          <!--<i class="icon-min-police-sign"></i>-->
          广东公安涉车综合应用系统
        </div>
        <div class="line">
            <ul class="list">
                <li (click)="skipPage()">汇总展示</li>
                <li class="active">分类展示</li>
            </ul>
        </div>
      </div>
   </div>
</div>
<div class="content">
    <div class="part-warp">
        <div class="panels">
            <div class="show-rows">
                <div class="show-list w25">
                    <span class="line-l"></span>
                    <span class="line-r"></span>
                    <span class="line-b"></span>
                    <span class="line-t"></span>
                    <div class="top-titles"><div class="top-title"><div class="top-title-right"> 各地市过车数</div></div></div>

                    <div class="bottom-contents">
                        <div class="bottom-content" id="first">

                        </div>
                    </div>
                </div>
                <!--<div class="show-list w25">
                    <span class="line-l"></span>
                    <span class="line-r"></span>
                    <span class="line-b"></span>
                    <span class="line-t"></span>
                    <div class="top-titles"><div class="top-title"><div class="top-title-right"> 布控细类信息</div></div></div>

                    <div class="bottom-contents">
                        <div class="bottom-content" id="second">

                        </div>
                    </div>
                </div>-->
                <!--<div class="show-list w25">
                    <span class="line-l"></span>
                    <span class="line-r"></span>
                    <span class="line-b"></span>
                    <span class="line-t"></span>
                    <div class="top-titles"><div class="top-title"><div class="top-title-right"> 联动布控情况</div></div></div>

                    <div class="bottom-contents">
                        <div class="bottom-content" id="third">

                        </div>
                    </div>
                </div>-->
                <div class="show-list w25">
                    <span class="line-l"></span>
                    <span class="line-r"></span>
                    <span class="line-b"></span>
                    <span class="line-t"></span>
                    <div class="top-titles"><div class="top-title"><div class="top-title-right"> 卡口备案统计</div></div></div>

                    <div class="bottom-contents">
                        <div class="bottom-content" id="fourth">

                        </div>
                    </div>
                </div>
                <div class="show-list w50">
                    <span class="line-l"></span>
                    <span class="line-r"></span>
                    <span class="line-b"></span>
                    <span class="line-t"></span>
                    <div class="top-titles"><div class="top-title"><div class="top-title-right"> 各省车辆在粤数</div></div></div>

                    <div class="bottom-contents">
                        <!--<div class="top-tips" id="top-tips"></div>-->
                        <div class="bottom-content" id="sixth">

                        </div>
                    </div>
                </div>
                <div class="show-list w100">
                    <span class="line-l"></span>
                    <span class="line-r"></span>
                    <span class="line-b"></span>
                    <span class="line-t"></span>
                    <div class="top-titles"><div class="top-title"><div class="top-title-right"> 各地市布控车辆预警数</div></div></div>

                    <div class="bottom-contents">
                        <div class="bottom-content" id="fifth">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="footer-show">广东省公安厅情报信息中心</div>
</div>
